@import './src/colors';
@import './src/typography';
// Mobile and above
.footer {
  background-color: colorsGetColorFor(footer, background);
  color: colorsGetColorFor(footer, text);
  padding-top: 20px;
  .container {
    width: 100%;
  }
  p {
      font-size: 12px;
    }
}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  
}

// Mobile and Tablet only
@media only screen and (max-width: $screen-md-max) {
  
}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {
  .footer {
    
  }
}
@media only screen and (min-width: $screen-xl-min) {
  .footer {
    .container {
      width: auto;
      max-width: 1269px;
    }
    
  }
}