////
/// @group shapes
////

@include colorsSetUseCase(shapes-chevron-normal,   fill,       black);

/// Appearances: Chevron
///
/// @type Map
$shapes-appearances__chevron: (
  normal: (
    position: absolute,
    pointer-events: none,
    top: 50%,
    fill: colorsGetColorFor(shapes-chevron-normal, fill),
    transform: translateY(-50%) rotateX(0deg),
    animation: digi-flip-in-y .15s linear,
  ),
  expanded: (
    transform: translateY(-50%) rotateX(180deg),
    animation: digi-flip-out-y .15s linear,
  ),
  collapsed: (
    transform: translateY(-50%) rotateX(0deg),
    animation: digi-flip-out-y .15s linear,
  ),
) !default;
