////
/// @group shapes
////

/// Shapes size
/// Ouputs dimensions for a specific shape size
///
/// @param {String} $size
@mixin shapesSize($size) {
  $shapes-dimensions: map-get($shapes-sizes, $size);

  width: map-get($shapes-dimensions, width);
  height: map-get($shapes-dimensions, height);
}

// Properties for a state of a given appearance
//
// @param {String} $state - One of normal, active
@mixin _shapesPropertiesForState($appearance, $state) {
  @if _shapesAppearanceHasState($appearance, $state) {
    $states: map-get($shapes-appearances, $appearance);

    @each $property, $value in map-get($states, $state) {
      #{$property}: #{$value};
    }
  }
}

/// Shape appearance construct
/// Ouputs styles for all shape appearances
///
/// @param {String} $appearance
@mixin shapesAppearance($appearance) {
  @include _shapesPropertiesForState($appearance, normal);

  @if $appearance == "chevron" {

    %expanded-chevron & {
      @include _shapesPropertiesForState($appearance, expanded);
    }

    %collapsed-chevron & {
      @include _shapesPropertiesForState($appearance, collapsed);
    }
  }
}
