////
/// @group shapes
////

/// Silent mode: on (true) or off (false)
/// Set to false to output default shape classes
///
/// @type Boolean
$shapes-is-silent: false !default;

/// Default shape class used when $shapes-is-silent is true
///
/// @type String
$shapes-class: shape !default;

/// Shape sizes, with their attached properties
///
/// @type Map
$shapes-sizes: (
  small: (
    width: 10px,
    height: 10px,
  ),
  medium: (
    width: 15px,
    height: 15px,
  ),
  large: (
    width: 20px,
    height: 20px,
  )
) !default;

/// Shape appearances, with their respective states
/// Each state is a Map of CSS properties, find
/// all theme definitions in _appearances.scss
///
/// @type Map
$shapes-appearances: (
  chevron: $shapes-appearances__chevron,
  // checkmark: $shape-appearances__checkmark,
  // loader: $shape-appearances__loader,
) !default;
