@import "./src/variables";

.skip-navigation-link {
  position: relative;

  &--landing {
    position: absolute;
    z-index: 9001;
  }

  &:focus, &:active {
    background-color: colorsGetColorFor(skipnav, background);
    color: colorsGetColorFor(skipnav, text);
    display: block;
    height: auto;
    width: auto;
    clip: auto;
  }
}
