////
/// @group grid
////

.container-fluid {

  @include make-container($gutter: 0);
  max-width: 100%;

  &--upto-lg {
    max-width: $lg-page-width;
  }

  &--upto-xl {
    max-width: $xl-page-width;
  }
}
