////
/// @group grid
////

.row {
  @include rowSetWidth;

  &--fluid {
    @include rowResetWidth;
  }

  &--fluid-no-gutters {
    @include rowResetWidth;
    @include rowRemoveGutters();
  }

  &--fluid-no-padding {
    @include rowResetWidth;
    @include rowRemovePadding();
  }

  &--no-gutters {
    @include rowRemoveGutters();
  }

  &--no-padding {
    @include rowRemovePadding();
  }
}
