////
/// @group forms
////

//sass-lint:disable no-important

/// Common field styles
@mixin formsCommonField {
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	height: $_forms-field-default-height;
	border: $_forms-fieldborder;
	border-radius: $_forms-field-borderradius;
	padding: $_forms-field-default-padding-top $_forms-field-default-padding-leftright $_forms-field-default-padding-bottom;
	width: 100%;
	background-color: colorsGetColorFor(forms-field-standard, background);
	color: colorsGetColorFor(forms-field-standard, text);
	font-family: $forms-font-family;
	font-size: $_forms-field-default-fontsize;
	outline: none;
	transition: .15s box-shadow ease-in;
	background-clip: padding-box;

	@include mediaAddAbove(lg) {
		height: $_forms-field-desktop-height;
		font-size: $_forms-field-desktop-fontsize;
	}

	&:disabled {
		@include formsCommonFieldDisabled;
	}

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px colorsGetColorFor(forms-field-box-shadow, box);

    &:hover {
      -webkit-box-shadow: inset 0 0 0 50px colorsGetColorFor(forms-field-box-shadow, box);
    }

    &:focus {
      -webkit-box-shadow: inset 0 0 0 50px colorsGetColorFor(forms-field-box-shadow, box);
    }
  }
}

/// Common field styles: focused state only
@mixin formsCommonFieldFocus {
	@include colorsFor(forms-field-focus);
	box-shadow: inset 0 0 4px 1px colorsGetColorFor(forms-focus-ring, border);
}

/// Common field styles: disabled state
@mixin formsCommonFieldDisabled {
	cursor: default;
	color: colorsGetColorFor(forms-field-standard, text);
	border-color: transparent;
	background-color: colorsGetColorFor(forms-field-standard, background);
	opacity: 1;
}

/// Common field styles: invalid state
@mixin formsCommonFieldInvalid {
	@include colorsFor(forms-field-invalid);

	&:focus {
		box-shadow: inset 0 0 4px 1px rgba(colorsGetColorFor(forms-field-invalid, border), .3);
	}

	&:disabled {
		border-color: colorsGetColorFor(forms-field-valid, border);
	}
}

/// Common field styles: valid state
@mixin formsCommonFieldValid {
	border-color: colorsGetColorFor(forms-field-valid, border);
}

/// Unskin a field entirely, but keep its structure intact
@mixin formsUnskin {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	border: 0 !important;
	background-color: transparent !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-shadow: none !important;

	// for iOS
	-webkit-text-fill-color: #333333 !important;
	opacity: 1 !important;
	border-radius: 0 !important;
}

/// Select styles
///
/// To be used in combination with formsCommonField
@mixin formsSelect {
	cursor: pointer;
	@include sprite-image($chevron-small);
	@include sprite-position($chevron-small);
	background-repeat: no-repeat;
	background-position-x: right;
	padding-right: calc(#{$_forms-select-iconsize} + #{$_forms-field-default-padding-leftright});
	padding-top: calc(#{$_forms-field-default-padding-bottom} - #{spacingGetMagnitude(.5)});

	// Normalise line-height across browsers,
	// which makes sure bottom of glyps are visible in Firefox in particular
	line-height: 110%;

	// Hide stock browser select arrow in Firefox
	text-indent: .01px;
	text-overflow: '';

	// Hide stock browser arrow in IE 10+
	&::-ms-expand {
		display: none;
		color: #ffffff;
	}

	@include mediaAddAbove(lg) {
		@include sprite-image($chevron);
		@include sprite-position($chevron);
		background-position-x: right;
	}
}

/// Textarea styles
@mixin formsTextarea {
	vertical-align: top;
	resize: vertical;
	height: auto;
	min-height: $_forms-field-default-height;
}

/// Label styles
@mixin formsLabel {
	display: block;
	margin-bottom: $_forms-label-marginbottom;
	font-size: $_forms-label-default-fontsize;
	line-height: spacingGetMagnitude(5);
	color: colorsGetColorFor(forms-field-label body, text);

	@include mediaAddAbove(lg) {
		font-size: $_forms-field-desktop-fontsize;
	}

	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--overlay {
		position: absolute;
    background-color: colorsGetColorFor(forms-field-label, background);
    top: 50%;
    transform: translate3d(0, -50%, 0);
    margin: 0 0 0 spacingGetMagnitude(2);
    padding: 0 spacingGetMagnitude(2);
    pointer-events: none;
    transition: transform .1s ease-in;

    .forms-control--filled & {
    	transform: translate3d(0, -190%, 0);
    }

    .forms-control--filled .use-address-entered + & {
    	display: none;
    }

    .forms-control--filled .forms-textarea + & {
    	transform: translate3d(0, -265%, 0);
    }

    @include mediaAddAbove(lg) {
    	.forms-control--filled & {
	    	transform: translate3d(0, -210%, 0);
	    }
    }
	}
}

/// Group styles
@mixin formsGroup {
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: spacingGetMagnitude(8);

  @include mediaAddTo(xs) {
  	&--reset-mobile {
  		min-height: initial !important;
  	}
  }

  @include mediaAddTo(sm) {
  	&--reset-mobile {
  		min-height: initial !important;
  	}
  }

	@include mediaAddAbove(md) {
		margin-bottom: spacingGetMagnitude(10);
	}

	@include mediaAddAbove(lg) {
		margin-bottom: spacingGetMagnitude(12);
	}
}

/// Inline styles
@mixin formsInline {
	display: flex;

	> div {
		padding-right: spacingGetMagnitude(3);
	}

	> div:last-child {
		padding-right: 0;
	}
}

/// Control styles
@mixin formsControl {
	position: relative;
}

/// Intro styles
@mixin formsIntro {
	color: colorsGetColorFor(forms-field-additional-info body, text);
	font-size: $_forms-field-default-fontsize;
	margin-bottom: spacingGetMagnitude(4.5);
	margin-top: calc(-1 * #{spacingGetMagnitude(4)});

	&:empty {
		margin: 0;
	}

	@include mediaAddAbove(lg) {
		font-size: $_forms-field-desktop-fontsize;

		.forms--error & {
			margin-bottom: spacingGetMagnitude(5);
			margin-top: calc(-1 * #{spacingGetMagnitude(3)});
		}
	}
}

/// Additional info
@mixin formsAdditionalInfo {
	color: colorsGetColorFor(forms-field-additional-info body, text);
	font-size: spacingGetMagnitude(3);
	line-height: spacingGetMagnitude(5);
	margin-top: calc(-1 * #{spacingGetMagnitude(5.5)});
	margin-bottom: spacingGetMagnitude(6.5);

  @include mediaAddAbove(md) {
		margin-top: calc(-1 * #{spacingGetMagnitude(7.5)});
  }

  @include mediaAddAbove(lg) {
    font-size: spacingGetMagnitude(3.5);
   	line-height: spacingGetMagnitude(5.5);
    margin-top: calc(-1 * #{spacingGetMagnitude(8)});
    margin-bottom: spacingGetMagnitude(10);
  }
}

/// Error text
@mixin formsErrorText {
	@extend %b-form-error-text;
	font-family: $forms-font-family;

	& > span, .forms--error & > .filled ~ span.filled { // sass-lint:disable-line no-qualifying-elements
		display: none;
		opacity: 0;
	}

	.forms--error & > .filled {
		display: block;
		opacity: 1;
		animation: digi-fade-in-error .3s ease-in;
	}

	.forms--error & {
		padding-left: spacingGetMagnitude(7);
		margin-bottom: spacingGetMagnitude(5);
		margin-top: calc(-1 * #{spacingGetMagnitude(3.5)});
	}

	.forms--error &:before {
		content: ' ';
		@include sprite($exclamation);
		transform: scale(.75) translateY(-4px);
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		width: spacingGetMagnitude(6.5);
		height: spacingGetMagnitude(6.5);
		opacity: 1;
		animation: digi-fade-in-error .3s ease-in;
	}

	&:empty, .forms--valid & {
		padding: 0;
		margin: 0;
	}

	&:empty:before, .forms--valid &:before {
		opacity: 0;
		background-image: none;
	}

	@include mediaAddAbove(lg) {

		.forms--error & {
			margin-bottom: spacingGetMagnitude(5);
			margin-top: calc(-1 * #{spacingGetMagnitude(4)});
			padding-left: spacingGetMagnitude(9);
		}

		.forms-error &:before {
			transform: scale(1) translateY(-4px);
		}
	}
}

@mixin formsWrapper {
	padding-top: spacingGetMagnitude(7);
	padding-bottom: spacingGetMagnitude(7);
	border-top: 1px solid colorsGetColorFor(forms-field-standard, border);
  border-bottom: 1px solid colorsGetColorFor(forms-field-standard, border);

  &--stacked {
  	border-bottom: 0;
  }

  @include mediaAddAbove(md) {
  	padding-top: spacingGetMagnitude(9);
  	padding-bottom: spacingGetMagnitude(9);
  }

  @include mediaAddAbove(lg) {
		padding-top: spacingGetMagnitude(11);
		padding-bottom: spacingGetMagnitude(11);
  }

	// Clearfix
	zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}
