////
/// @group forms
////

/// Silent mode
/// @type Bool
$forms-is-silent: false !default;

/// Field font family
///
/// This is required to override default system form element styling,
/// since `<input>`, `<textarea>`, `<select>`… don't inherit global font styles
///
/// @type String
$forms-font-family: Helvetica, sans-serif !default;

$_forms-fieldborder-width: 1px;
$_forms-fieldborder: $_forms-fieldborder-width solid colorsGetColorFor(forms-field-standard, border);
$_forms-field-borderradius: 0;

$_forms-field-default-fontsize: spacingGetMagnitude(3.5);
$_forms-field-desktop-fontsize: spacingGetMagnitude(4);

$_forms-label-default-fontsize: spacingGetMagnitude(3.5);
$_forms-label-desktop-fontsize: spacingGetMagnitude(4);

$_forms-field-default-padding-leftright: spacingGetMagnitude(4);
$_forms-field-default-padding-top: spacingGetMagnitude(4);
$_forms-field-default-padding-bottom: spacingGetMagnitude(4);

$_forms-field-default-height: spacingGetMagnitude(14); // 55px
$_forms-field-desktop-height: spacingGetMagnitude(16);

$_forms-group-padding: spacingGetMagnitude(2.5);

// Outer circle / box sizes
$_forms-radiocheckbox-default-size: spacingGetMagnitude(6);
$_forms-radiocheckbox-padding-left: spacingGetMagnitude(6);

// Inner circle sizes
$_forms-radio-internal-default-size: spacingGetMagnitude(2);

$_forms-label-marginbottom: spacingGetMagnitude(1); // 5px

$_forms-select-iconsize: spacingGetMagnitude(5); // 19px;
