@import "./src/variables";

// Mobile and above
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; //sass-lint:disable-line no-misspelled-properties
  outline: 0;
  transform: translateZ(1px);

  &--video {
    display: block;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);

    &.overlay-is-open {
      visibility: visible;
      transform: none;
    }
  }

  &.overlay-is-open {
  	display: block;
  }

  .overlay-is-open & {
  	overflow-x: hidden;
    overflow-y: auto;
  }

  &-is-open {
    overflow: hidden;
  }

  &__container {
  	display: none;

  	.overlay-is-open & {
  		display: block;
  	}

    &--video {
      display: block;
      background-color: colorsGetColorFor(overlay-container-video, background);
			padding-top: spacingGetMagnitude(12);
    }
  }

  &__content {
  	width: auto;
    margin: 10px;
    position: relative;
    background-color: colorsGetColorFor(overlay-content, background);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid colorsGetColorFor(overlay-content, border);
    border-radius: 5px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(colorsGetColorFor(overlay-content, box-shadow), .5);
    box-shadow: 0 3px 9px rgba(colorsGetColorFor(overlay-content, box-shadow), .5);
    z-index: 100000;

    &--video {
      border: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      background-color: colorsGetColorFor(overlay-container-video, background);
    }

    &--image {
      border: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      background-color: colorsGetColorFor(overlay, background);
    }

    &--fullscreen {
    	margin: 0;
    	border: 0;
    	border-radius: 0;
    	box-shadow: none;
    	width: 100%;
    }

    &--accessibility-message {
      box-shadow: none;
      border: 0;
      border-radius: 0;
      margin-top: spacingGetMagnitude(34);
    }
  }

  &__backdrop {
  	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: .5;
    background-color: colorsGetColorFor(overlay-backdrop, background);
    display: none;
    pointer-events: none;

    .overlay-is-open & {
    	display: block;
    }
  }

  &__video-header {
    text-align: right;
    background-color: colorsGetColorFor(overlay-container-video, background);
    opacity: .5;
    z-index: 2;
    padding: spacingGetMagnitude(5) 0;
  }

  &__video-close {
    padding: spacingGetMagnitude(4);
  }
}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  .overlay {

    &__content {
      width: 600px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      -webkit-transform: translate(-50%, -50%);

      &--video {
        height: auto;
        width: 80%;
        margin: 10px auto;
      }

      &--fullscreen {
          margin: 0;
          width: 100%;
          height: 100%;
      }

      &--accessibility-message {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

// IE11
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .overlay {
    &-is-open {
      position: fixed;
    }
  }
}

