////
/// @group typography
////

/// Returns line-height for specified font size using global leading
///
/// @param {number} $leading - global leading
/// @param {number} $pxval
@function typographyGetLineHeight($pxval, $leading: $typography-leading) {
  @return typographyStripUnits(($pxval + $leading) / $pxval);
}

/// Return unitless value of input e.g. 12px -> 12
///
/// @param {number} $val
@function typographyStripUnits($val) {
  @return ($val / ($val * 0 + 1));
}

/// Return the result of pixels to rems conversion using global base font
///
/// @param {number} $pxval
@function typographyGetRem($pxval, $base: $typography-base-font) {
  @if not unitless($pxval) {
    $pxval: typographyStripUnits($pxval);
  }

  @if not unitless($base) {
    $base: typographyStripUnits($base);
  }
  @return ($pxval / $base) * 1rem;
}

/// Check if a theme has a certain tag
///
/// @param {String} $theme - One of $buttons-themes
/// @param {String} $tag - One of heading, subheading, body
@function _typographyThemeHasTag($theme, $tag) {
  $tags: map-get($typography-themes, $theme);
  @return map-has-key($tags, $tag);
}

/// Adds specified font-use-case to $typography-use-cases map
///
/// @param {String} $name - Name of font use case
/// @param {Map} $use-case-map - Map of font use case
@function typographyAddUseCase($use-case, $use-case-map) {
  @return map-merge($typography-use-cases, ($use-case: $use-case-map));
}
