////
/// @group typography
////

/// Typography use cases
///
/// These are the use-cases defined in Dyson typography guide.
/// We use these cases through the typographySetFont, typographySetFontSize & typographySetFontSpace
/// mixins with the use-case name. It is also possible to add custom use-cases to the list by using
/// the typographyAddFont mixin
///
/// In the list below, each use-case contains a name and a map of type and layout. Layout is a map of
/// sizes (multiples of vertical rhythm) and trailers (bottom margin multiples of vertical rhythm) for
/// each corresponding breakpoint
///
/// The use-case name must be a single word comprising just letters,
/// numbers, and dashes.

$typography-use-cases: () !default;

$typography-use-cases: map-merge((

  heading1: (
    type: (
      name: FuturaBT,
      weight: light
    ),
    layout: (
      xs: (8, 5),
      md: (11),
      lg: (12),
    )
  ),
  heading2: (
    type: (
      name: FuturaBT,
      weight: light
    ),
    layout: (
      xs: (7, 4),
      md: (8),
      lg: (10)
    )
  ),
  heading3: (
    type: (
      name: FuturaBT,
      weight: light
    ),
    layout: (
      xs: (7, 4),
      md: (8),
      lg: (8)
    )
  ),
  heading4: (
    type: (
      name: FuturaBT,
      weight: light
    ),
    layout: (
      xs: (6, 4),
      md: (6),
      lg: (7)
    )
  ),
  heading5: (
    type: (
      name: FuturaBT,
      weight: book
    ),
    layout: (
      xs: (5, 2),
      md: (6),
      lg: (6)
    )
  ),
  heading6: (
    type: (
      name: FuturaBT,
      weight: normal
    ),
    layout: (
      xs: (3.5, 1),
      md: (4.5)
    )
  ),
  body-lead: (
    type: (
      name: Helvetica,
      weight: regular
    ),
    layout: (
      xs: (5, 4),
      lg: (6)
    )
  ),

  //Body
  body1: (
    type: (
      name: Helvetica,
      weight: regular
    ),
    layout: (
      xs: (4, 4),
      md: (4),
      lg: (5)
    )
  ),
  //Small Body
  body2: (
    type: (
      name: Helvetica,
      weight: regular
    ),
    layout: (
      xs: (3.5, 2),
      lg: (4)
    )
  ),

  //Fine Print
  body3: (
    type: (
      name: Helvetica,
      weight: regular
    ),
    layout: (
      xs: (3.5, 2)
    )
  ),
  pricing-subtotal: (
    type: (
      name: FuturaBT,
      weight: medium
    ),
    layout: (
      xs: (5, 0),
      md: (6),
      lg: (7)
    )
  ),
  pricing-total: (
    type: (
      name: FuturaBT,
      weight: medium
    ),
    layout: (
      xs: (6.5),
      md: (7.5),
      lg: (9)
    )
  ),
  strong: (
    type: (
      name: Helvetica,
      weight: bold
    )
  ),
), $typography-use-cases) !global;
