////
/// @group typography
////

/// When silent mode is active, css classes will not be output
/// @type Bool
$typography-is-silent: false !default;

/// Output @font-face declarations
/// @type Bool
$typography-output-font-face-declarations: true !default;

/// Base font size
/// @type Number (pixel)
$typography-base-font: 16px;

/// Global leading for setting line-heights
/// @type Number (pixel)
$typography-leading: 8px;

/// Typography text align class used when $typography-is-silent is false
///
/// @type String
$typography-text-align-class: ta !default;

/// Default themes class used when $typography-is-silent is false
///
/// @type String
$typography-theme-class: theme !default;

/// Typography themes, with their respective states
/// Each state is a Map of CSS properties, find
/// all theme definitions in _themes.scss
///
/// @type Map
$typography-themes: (
  light: $typography-themes__light,
  medium: $typography-themes__medium,
  dark: $typography-themes__dark,
  pink: $typography-themes__pink,
  black: $typography-themes__black,
  blue: $typography-themes__blue // sass-lint:disable-line no-color-keywords
) !default;
