.fade-cta-block {
	&.cta-animate-block {
		.cta-animate-icon, .cta-animate-text {
			opacity: 0;
		}

		.cta-first & {
			.cta-animate-icon {
				animation-name: digi-scale-fade-in;
				animation-duration: 300ms;
				animation-fill-mode: forwards;
			}

			.cta-animate-text {
				animation-name: digi-fade-in-linear;
				animation-delay: 100ms;
				animation-duration: 300ms;
				animation-fill-mode: forwards;
			}
		}
	}

	.cta-first & {
		&.slide-block {
			animation-name: digi-slide-up-scale-fade-in;
			transform: translateY(0%);
			animation-duration: 1.5s;
		}
	}


	.text-first &, .image-first &, .text-and-image & {
		animation-name: digi-slide-up-fade-in;
		animation-duration: .5s;

		&.slide-block {
			animation-name: digi-slide-up-scale-fade-in;
			transform: translateY(0%);
			animation-duration: 2s;
		}
	}

	&--two {
		animation-delay: .5s;
	}

	&--three {
		animation-delay: 1s;
	}

	&--four {
		animation-delay: 1.5s;
	}

	&--five {
		animation-delay: 2s;
	}

	&--six {
		animation-delay: 2.5s;
	}

	.image-first & {
		animation-delay: 1s;
	}
}
