.fade-block {
	img {
		opacity: 0;

		.image-first &, .text-first &, .text-and-image & {
			animation-name: digi-fade-in-image;
			animation-duration: 1.5s;
			animation-fill-mode: forwards;
		}

		.text-first & {
			animation-delay: 1s;
		}
	}

	.video-container {
		opacity: 0;

		.image-first &, .text-first &, .text-and-image & {
			animation-name: digi-fade-in-abrupt;
			animation-duration: 2s;
			animation-fill-mode: forwards;

			&:-webkit-full-screen-ancestor:not(iframe) {
				animation: none;
				opacity: 1;
			}
		}

		.text-first & {
			animation-delay: 1s;
		}
	}
}
