.slide-block {
	opacity: 0;

	.text-first &, .image-first &, .text-and-image &, .cta-first & {
		animation-name: digi-slide-up-fade-in;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(.42, .05, 0, .99);
	}

	&--two {
		animation-delay: .25s;
	}

	&--three {
		animation-delay: .5s;
	}

	&--four {
		animation-delay: .75s;
	}

	&--five {
		animation-delay: 1s;
	}

	&--six {
		animation-delay: 1.25s;
	}

	.image-first & {
		animation-delay: 1s;
	}
}
