<!DOCTYPE html>
<html>
    <head>
        <title>Project Code Clan</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/dist/styles/main.css" type="text/css">
    </head>
    <body class="js-main">
        <section class="container-fluid js-skill-search skill-search">
            <div class="js-skill-search-network" data-suggestions-url="url"></div>
            <div class="js-skills-container skill-search__container"></div>

            <form name="searchNavForm" class="js-search-form search-nav__overlay-form" action="url" method="GET">
                <label for="search-nav-input" class="sr-only">Search Skills</label>
                <input autofocus autocomplete="off" required id="search-nav-input" type="search" placeholder="Search Skills" class="search-nav__overlay-input js-search-input" name="searchText" />
                <span class="search-nav__overlay-input-border"></span>
                <!-- <button class="search-nav__overlay-button">
                    <span class="sr-only">${'dyson_search_placeholder' @ i18n}</span>
                    <svg class="icon search-nav__icon-search" focusable="false" title="${'dyson_search' @ i18n}" aria-label="${'dyson_search' @ i18n}">
                        <title>"${'dyson_search' @ i18n}</title>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/clientlibs/dyson/clientlib-main/icons/icons.sprite.svg#search-large"></use>
                    </svg>
                </button> -->
            </form>
            <div class="js-suggestions-container">
                
            </div>


            <script id="js-skills-list-template" type="text/x-handlebars-template">
                <div class="">
                    {{#each this}}
                        <button class="js-skill-select skill-search__btn btn btn-primary">{{this}}</button>
                    {{/each}}
                </div>
            </script>

            <!--/*Search Suggestions Template*/-->
            <script id="js-search-suggestions-template" type="text/x-handlebars-template">
                <div class="skill-search__suggestions">
                    {{#each this}}
                        <li class="skill-search__suggestions-item"> 
                            <button class="skill-search__suggestiions-btn">{{this.value}}</button>
                        </li>
                    {{/each}}
                </div>
            </script>
        </section>


        <script src="/dist/scripts/head.js" type="text/javascript"></script>
        <script src="/dist/scripts/vendor.js" type="text/javascript"></script>
        <script src="/dist/scripts/common.js" type="text/javascript"></script>
        <script src="/dist/scripts/main.js" type="text/javascript"></script>
    </body>
</html>
