.post-initiative {
	display: flex;
    border: 1px solid #CCC;
    margin: 50px 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &__label {
    	margin-right: 50px;
    }

	&__overlay {
	background-color: rgba(0,0,0,0.5);

		&-form {
			padding-top: spacingGetMagnitude(7.5);

			&-fields {
				clear: both;
			}
		}

		&-close {
		    float: right;
		    font-size: 1.5rem;
		    font-weight: 700;
		    line-height: 1;
		    color: #000;
		    text-shadow: 0 1px 0 #fff;
		    opacity: .5;
		    padding: 0;
		    background-color: transparent;
		    border: 0;
		    -webkit-appearance: none;
		    cursor: pointer;
		}

		&-body {
			overflow: hidden;
		}

		&-add {
			float: left;
			margin-right: spacingGetMagnitude(2);
		}

		.modal-dialog {
			max-width: 80%;
		}
	}
}

//Tablet and above
@media only screen and (min-width: $screen-md-min) {

}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {

}