@import "./src/variables";

.slider {

	&__indicator-list {
		padding: 0;
		margin: 0 auto;
		text-align: center;

		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: ' ';
			clear: both;
			height: 0;
		}
	}

	&__indicator-item {
		display: inline-block;
		color: transparent;
		width: 15px;

		&:after {
			content: '';
			display: inline-block;
			width: spacingGetMagnitude(1.5);
			height: spacingGetMagnitude(1.5);
			border-radius: 50%;
			background-color: colorsGetColorFor(slider-dot, background);
		}

		&.active {
			&:after {
				background-color: colorsGetColorFor(slider-dot-active, background);
			}
		}
	}
}
