////
/// @group typography
////

/// Make something bold
@mixin typographyBold {
	font-weight: bold;
}

/// Make something strong
@mixin typographyStrong {
	font-weight: bolder;
}

/// Make something italic
@mixin typographyItalic {
	font-style: italic;
}

/// Superscript text
@mixin typographySuper {
	display: inline-block;
	margin-top: -3px;
	font-size: .85em;
	vertical-align: super;
}

/// Subscript text
@mixin typographySub {
	display: inline-block;
	margin-bottom: -5px;
	font-size: .85em;
	vertical-align: sub;
}
