////
/// @group typography
////

/// General leader styles
@mixin typographyBodyLead {
  @include typographySetFont('body-lead');
}

/// General body text (apply to body tag)
@mixin typographyBody {
  @include typographySetFont('body1');
}

@mixin typographyBodySmall {
  @include typographySetFont('body2');
}

@mixin typographyBodyFine {
  @include typographySetFont('body3');
}

/// Apply to a block of text
@mixin typographyBodyBlock {
	margin-bottom: 20px;
	margin-top: 20px;
}

/// Styling for <ul> and <ol>
@mixin typographyBodyList {
	list-style-position: outside;
	padding-left: 20px;
	font-weight: normal;
	@include typographyFixedFontSize(14, 1.2);
	@include typographyBodyBlock;

  &.list-unstyled {
    padding-left: 0;
    list-style: none;
  }
}

/// Styles for <ol> tags
@mixin typographyBodyListOrdered {
	list-style-type: decimal;
}

/// Styles for <ul> tags
@mixin typographyBodyListUnordered {
	list-style-type: disc;
}

/// Styles for <a> tag
@mixin typographyBodyLink {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
