////
/// @group typography
////

@if $typography-is-silent == false {

	// alignment
	@each $breakpoint in map-keys($grid-breakpoints) {
	  @include mediaAddTo($breakpoint) {
	    .#{$typography-text-align-class}-#{$breakpoint}-left   { text-align: left; }
	    .#{$typography-text-align-class}-#{$breakpoint}-right  { text-align: right; }
	    .#{$typography-text-align-class}-#{$breakpoint}-center { text-align: center; }
	  }
	}

	.#{$typography-text-align-class}-right {
		text-align: right !important; // sass-lint:disable-line no-important
	}

	.#{$typography-text-align-class}-center {
		text-align: center !important; // sass-lint:disable-line no-important
	}

	.#{$typography-text-align-class}-left {
		text-align: left !important; // sass-lint:disable-line no-important
	}

	// headings
	.typography-heading1, %heading1 {
		@include typographyHeading1;
	}

	.typography-heading2, %heading2 {
		@include typographyHeading2;
	}

	.typography-heading3, %heading3 {
		@include typographyHeading3;
	}

	.typography-heading4, %heading4 {
		@include typographyHeading4;
	}

	.typography-heading5, %heading5 {
		@include typographyHeading5;
	}

	.typography-heading6, %heading6 {
		@include typographyHeading6;
	}

	// body - common
	.typography-body--bold {
		@include typographyBold;
	}

	.typography-body--italic {
		@include typographyItalic;
	}

	.typography-body--sup {
		@include typographySuper;
	}

	.typography-body--sub {
		@include typographySub;
	}

	.typography-body--link {
		@include typographyBodyLink;
	}

	// body - general
	.typography-body, %body1 {
		@include typographyBody;
	}

	.typography-body--lead, %body-lead {
		@include typographyBodyLead;
	}

	.typography-body--small, %body2 {
    @include typographyBodySmall;
  }

  .typography-body--fine, %body3 {
    @include typographyBodyFine;
  }

	.typography-body__block {
		@include typographyBodyBlock;
	}

	.typography-body__list {
		@include typographyBodyList;
	}

	.typography-body__list--ordered {
		@include typographyBodyListOrdered;
	}

	.typography-body__list--unordered {
		@include typographyBodyListUnordered;
	}

}
