////
/// @group typography
////

/// h1 styles
@mixin typographyHeading1 {
	@include typographySetFont('heading1');
}

/// h2 styles
@mixin typographyHeading2 {
	@include typographySetFont('heading2');
}

/// h3 styles
@mixin typographyHeading3 {
	@include typographySetFont('heading3');
}

/// h4 styles
@mixin typographyHeading4 {
	@include typographySetFont('heading4');
}

/// h5 styles
@mixin typographyHeading5 {
	@include typographySetFont('heading5');
}

/// h6 styles
@mixin typographyHeading6 {
	@include typographySetFont('heading6');
}
