////
/// @group fonts
////

/// Check if a font variant exists for a family
///
/// @param {String} family - one of $_fonts-families
/// @param {String} weight
/// @param {String} style
///
/// @access private
///
/// @return {Bool}
@function _fontsVariantExists($family, $weight, $style) {
	$font-properties: map-get($_fonts-families, $family);
	$font-variants: map-get($font-properties, variants);

	@each $variant in $font-variants {
		// Check if this weight and style variant exists for this family
		// Known issue with LibSass 3.0.2 - https://github.com/sass/libsass/issues/741
		@if (map-get($variant, weight) == $weight and map-get($variant, style) == $style) {
			@return true;
		}
	}
	@return false;
}

/// Capitalise first letter of $string
///
/// @param {String} $string - string to update
///
/// @return {String}
@function _fontsStringCapitalise($string) {
    $string: $string + unquote(''); // Make sure $string has a type of String
    $first-letter: to-upper-case(str-slice($string, 0, 1));
    $rest-of-string: str-slice($string, 2);

    @return $first-letter + $rest-of-string;
}

/// Get a font-family stack with the appropriate fallbacks
///
/// @param {String} family
///
/// @return {String} - font-stack
///
/// @example scss
/// font-family: fontsGetFontFamilyWithFallbacks(OpenSans);
@function fontsGetFontFamilyWithFallbacks($family) {
	@if map-has-key($_fonts-families, $family) {
		$properties: map-get($_fonts-families, $family);
		@return unquote(map-get($properties, font-family));
	}
	@warn 'Font #{$family} not found. Must be one of $_fonts-families.';
	@return inherit;
}

/// Path to a font asset
///
/// @param {String} $asset
///
/// @return {String} - Path to the font asset, without the file extension
@function fontsUseAsset($asset) {
	@return $fonts-path + $asset;
}

/// Machine-readable CSS font-weight.
///
/// @param {String} $keyword - Human-readable keyword, one of $_fonts-weights
///
/// @example scss
/// font-weight: fontsWeight(light);
///
/// @return {Number} - CSS font-weight
@function fontsWeight($keyword) {
	@if map-has-key($_fonts-weights, $keyword) {
		@return map-get($_fonts-weights, $keyword);
	} @else {
		@warn 'Keyword "#{$keyword}" not found. Must be one of $_fonts-weights.';
	}
}
