////
/// @group fonts
////

/// Font-face declaration sources
///
/// @param {String} fontName - path to the file, without the file extension
@mixin fontsSource($fontName) {
	src: url(fontsUseAsset($fontName + '.woff')) format('woff'); // Modern Browsers
}

/// Font-face declaration for a given font family
///
/// @param {String} $family - one of $fonts-families
/// @param {String} $weight [regular] - one of $fonts-weights
/// @param {String} $style [normal]
@mixin fontsInclude($family, $weight: regular, $style: normal) {
	@if $weight == normal {
		$weight: regular;
	}
	$font-exists: false;
	// Check if the font has already been included
	// If so, no need to output another @font-face declaration
	$font-is-already-included: map-has-key($_fonts-families-included, #{$family}-#{$weight}-#{$style});

	@if $font-is-already-included == false {
		@if map-has-key($_fonts-families, $family) == false {
			@warn 'Font #{$family} not found. Must be one of $_fonts-families.';
		} @else {
			$font-exists: true;
			@if (_fontsVariantExists($family, $weight, $style)) {
				$font-exists: true;
			} @else {
				@warn 'Variant "weight: #{$weight}, style: #{$style}" not found for "#{$family}". @font-face rule will not be output.';
			}
		}

		@if ($font-exists) {
			// Files are named as follows
			// Name-WeightType
			// OpenSans-Regular              (regular normal)
			// OpenSans-RegularItalic        (regular italic)
			// OpenSans-Bold                 (bold normal)
			// OpenSans-BoldItalic           (bold italic)

			// By default, suffix is the weight
			$font-suffix: _fontsStringCapitalise($weight);

			@if ($style != 'normal') {
				$font-suffix: #{_fontsStringCapitalise($weight)}#{_fontsStringCapitalise($style)};
			}

			@font-face {
				@include fontsSource(#{$family}-#{$font-suffix});
				font-family: $family;
				font-weight: fontsWeight($weight);
				font-style: $style;
			}

			// Add to the list of already included families / variants
			$_fonts-families-included: map-merge($_fonts-families-included, (#{$family}-#{$weight}-#{$style}: true)) !global;
		}
	}
}

/// Output @font-face declarations for all the font families
@mixin fontsIncludeAll {
	@each $family, $properties in $_fonts-families {
		@each $variant in map-get($properties, variants) {
			@include fontsInclude($family, map-get($variant, weight), map-get($variant, style));
		}
	}
}
