////
/// @group fonts
////

/// Path to the assets
///
/// @type String
$fonts-path: '../fonts/' !default;

/// Silent mode
///
/// @type Bool
$fonts-is-silent: true !default;

/// Font families
///
/// @access private
///
/// @type Map
$_fonts-families: (
    FuturaBT: (
        font-family: 'FuturaBT, sans-serif',
        variants: (
            (weight: medium, style: normal),
            (weight: heavy, style: normal),
            (weight: book, style: normal),
            (weight: light, style: normal),
        )
    ),
    Helvetica: (
        font-family: 'Helvetica, Arial, sans-serif',
        variants: (
            (weight: regular, style: normal),
            (weight: regular, style: italic),
            (weight: bold, style: normal),
            (weight: bold, style: italic),
        )
    ),
    FoundryGridnik: (
        font-family: 'FoundryGridnik, courier',
        variants: (
            (weight: medium, style: normal),
        )
    )
);

/// Human-readable Font-weights
///
/// @access private
///
/// @type Map
$_fonts-weights: (
	'thin':       100,
	'light':      300,
	'regular':    400,
	'normal':     400,
    'book':       400,
	'medium':     500,
	'semibold':   600,
	'bold':       700,
    'heavy':      700,
	'extrabold':  800
) !default;

/// Map of families and styles which have already been included
/// Used to avoid declarations from being multiple times in the CSS output
///
/// @access private
$_fonts-families-included: () !default;
