@if not $forms-is-silent {

	.forms--error .forms-text,
	.forms--error .forms-select,
	.forms--error .forms-textarea {
		@include formsCommonFieldInvalid;
	}

	.forms-errortext {
		@include formsErrorText;
	}
}
