@if not $forms-is-silent {

	.forms-affix-wrapper {
		display: table;
		width: 100%;
		box-sizing: border-box;
		position: relative;
	}

	.forms-affix-wrapper .forms-text,
	.forms-affix-wrapper .forms-select {
		display: table-cell;
		border-radius: 0;
		height: calc(#{$_forms-field-default-height} + #{spacingGetMagnitude(.5)});

		@include mediaAddAbove(lg) {
			height: calc(#{$_forms-field-desktop-height} - #{spacingGetMagnitude(.5)});
		}
	}

	.forms-affix-wrapper .forms-text:first-child,
	.forms-affix-wrapper .forms-select:first-child {
		border-top-left-radius: $_forms-field-borderradius;
		border-bottom-left-radius: $_forms-field-borderradius;
	}

	.forms-affix-wrapper .forms-text:last-child,
	.forms-affix-wrapper .forms-select:last-child {
		border-top-right-radius: $_forms-field-borderradius;
		border-bottom-right-radius: $_forms-field-borderradius;
	}

	.forms-prefix,
	.forms-suffix {
		display: table-cell;
		vertical-align: top;
		box-sizing: border-box;
		width: 1%;
		white-space: nowrap;
		border-top: $_forms-fieldborder;
		border-bottom: $_forms-fieldborder;
		padding: $_forms-field-default-padding-top $_forms-field-default-padding-leftright calc(#{$_forms-field-default-padding-bottom} - #{spacingGetMagnitude(.5)});
		font-family: $forms-font-family;
		font-size: $_forms-field-default-fontsize;
		text-align: center;
		background-color: colorsGetColorFor(forms-prefixsuffix, background);
		color: colorsGetColorFor(forms--prefixsuffix forms-field-standard, text);
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.forms-prefix {
		border-left: $_forms-fieldborder;
		border-right: 0;
		border-top-left-radius: $_forms-field-borderradius;
		border-bottom-left-radius: $_forms-field-borderradius;
	}

	.forms-suffix {
		border-right: $_forms-fieldborder;
		border-left: 0;
		border-top-right-radius: $_forms-field-borderradius;
		border-bottom-right-radius: $_forms-field-borderradius;
	}

	.forms--error .forms-prefix,
	.forms--error .forms-suffix {
		@include colorsFor(forms-field-invalid, border text);
	}

	.forms--valid .forms-prefix,
	.forms--valid .forms-suffix {
		@include colorsFor(forms-field-valid, border text);
	}

	.forms-prefix button,
	.forms-suffix button {
		border-width: 0;
		margin: calc(#{$_forms-field-default-padding-top} * -1) calc(#{$_forms-field-default-padding-leftright} * -1) calc(#{$_forms-field-default-padding-bottom} * -1);
		padding: $_forms-field-default-padding-top $_forms-field-default-padding-leftright $_forms-field-default-padding-bottom;
		cursor: pointer;
		-moz-appearance: none;
		-webkit-appearance: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		min-height: spacingGetMagnitude(13.5);

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

		@include mediaAddAbove(lg) {
			min-height: spacingGetMagnitude(15);
		}
	}

	.forms-prefix button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.forms-suffix button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
