////
/// @group o-forms
////

/// Radio and checkboxes
///
/// Draws a fake control (radio or checkbox) using pseudo-elements
///
/// @param {map} $selectors [(radio: '.forms-radio', checkbox: '.forms-checkbox', label: '.forms-label')]
@mixin formsRadioCheckbox($selectors: (radio: '.forms-radio', checkbox: '.forms-checkbox', label: '.forms-label')) {
	$checkbox: unquote(map-get($selectors, checkbox));
	$radio: unquote(map-get($selectors, radio));
	$label: unquote(map-get($selectors, label));

	#{$checkbox},
	#{$radio} {
		position: absolute;
		opacity: 0;
	}

	#{$checkbox} + #{$label},
	#{$radio} + #{$label} {
		display: inline-block;
		margin-right: spacingGetMagnitude(4);
		padding-left: calc(#{$_forms-radiocheckbox-default-size} + #{spacingGetMagnitude(2.5)});
		position: relative;
		cursor: pointer;
		font-weight: normal;
		line-height: calc(#{$_forms-radiocheckbox-default-size} + #{spacingGetMagnitude(.25)});
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		@include mediaAddAbove(lg) {
			padding-left: spacingGetMagnitude(11);
			line-height: spacingGetMagnitude(7);
		}
	}

    #{$radio}:focus + #{$label}::before,
    #{$checkbox}:focus + #{$label}::before ,
	#{$radio}:checked:focus + #{$label}::before,
	#{$checkbox}:checked:focus + #{$label}::before {
		outline: 1px dotted #212121;
	}

	@media (-webkit-min-device-pixel-ratio: 0) {
		#{$radio}:focus + #{$label}::before,
		#{$checkbox}:focus + #{$label}::before,
		#{$radio}:checked:focus + #{$label}::before,
		#{$checkbox}:checked:focus + #{$label}::before {
			outline: -webkit-focus-ring-color auto;
		}
	}

	#{$checkbox} + #{$label}::before,
	#{$radio} + #{$label}::before {
		position: absolute;
		top: 0;
		left: 0;
		width: $_forms-radiocheckbox-default-size;
		height: $_forms-radiocheckbox-default-size;
		border: 1px solid colorsGetColorFor(forms-field-radio, border);
		background-color: colorsGetColorFor(forms-field-radio, background);
		box-sizing: border-box;
		content: '';
		transition: all .15s ease-in; // sass-lint:disable-line no-transition-all

		@include mediaAddAbove(lg) {
			width: calc(#{$_forms-radiocheckbox-default-size} * 1.25);
			height: calc(#{$_forms-radiocheckbox-default-size} * 1.25);
		}
	}

	.forms--error #{$checkbox} + #{$label}::before {
		border-color: colorsGetColorFor(forms-radiocheckbox-error, border);
	}

	#{$checkbox} + #{$label}::before,
	#{$checkbox} + #{$label}::after {
		border-radius: 0;
	}

	#{$radio} + #{$label}::before {
		border-radius: 50%;
	}

	#{$radio} + #{$label}::after,
	#{$checkbox} + #{$label}::after {
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .15s ease-in; // sass-lint:disable-line no-transition-all
	}

	#{$radio} + #{$label}::after {
		transform: scale(.75);
	}

	#{$radio}:checked + #{$label}::after,
	#{$checkbox}:checked + #{$label}::after {
		opacity: 1;
	}

	#{$radio}:checked + #{$label}::after {
		transform: scale(1);
	}

	#{$radio} + #{$label}::after {
		background-color: colorsGetPaletteColor(black);
		border-radius: 50%;
		height: $_forms-radio-internal-default-size;
		width: $_forms-radio-internal-default-size;
		left: calc((#{$_forms-radiocheckbox-default-size} - #{$_forms-radio-internal-default-size}) / 2);
		top: calc((#{$_forms-radiocheckbox-default-size} - #{$_forms-radio-internal-default-size}) / 2);

		@include mediaAddAbove(lg) {
			height: 10px;
			width: 10px;
			left: 10px;
			top: 10px;
		}
	}

	#{$checkbox} + #{$label}::after {
		@include sprite-image($tick-small);
		@include sprite-position($tick-small);
		height: $_forms-radiocheckbox-default-size;
		width: $_forms-radiocheckbox-default-size;

		@include mediaAddAbove(lg) {
			@include sprite-image($tick);
			@include sprite-position($tick);
			height: calc(#{$_forms-radiocheckbox-default-size} * 1.25);
			width: calc(#{$_forms-radiocheckbox-default-size} * 1.25);
		}
	}

	#{$checkbox}:disabled + #{$label},
	#{$radio}:disabled + #{$label} {
		opacity: .4;
		cursor: default;
	}
}

@if not $forms-is-silent {
	@include formsRadioCheckbox;
}
