.accordion {
	&__section {
		&.expanded {
			@extend %expanded-chevron;
		}
	}

	&__content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all .4s ease-in; // sass-lint:disable-line no-transition-all

		.expanded & {
			max-height: 9999px; // sorry :(
			opacity: 1;
		}
	}
}
