// Mobile and above
.user-login {

  &__heading, &__form-container {
    margin-bottom: spacingGetMagnitude(5);
  }

  &__heading {
    
  }

  &__form-container {
    
  }

  &__forgot-password-text {
    
  }

  &__forgot-password-link {
    
  }

  &__error {
    margin-bottom: spacingGetMagnitude(5);
  }
}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  .user-login {
    margin-bottom: spacingGetMagnitude(12);

    &__text {
      margin-bottom: 0;
    }

    &__forgot-password-link {
      margin-bottom: spacingGetMagnitude(5);
    }
  }
}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {
.user-login {

  &__forgot-password-link {
    margin-bottom: spacingGetMagnitude(12);
    }
  }
}
