////
/// @group spacing
////

/// Return unitless value of input e.g. 12px -> 12
///
/// @param {number} $val
@function spacingStripUnits($val) {
  @return ($val / ($val * 0 + 1));
}

/// Return the result of pixels to rems conversion using global base font
///
/// @param {number} $pxval
@function spacingGetRem($pxval, $base: $spacing-base-font) {
  @if not unitless($pxval) {
    $pxval: spacingStripUnits($pxval);
  }

  @if not unitless($base) {
    $base: spacingStripUnits($base);
  }
  @return ($pxval / $base) * 1rem;
}

/// Returns magnitude of property
///
/// @param {number} $lines - multiples of baseline
/// @param {number} $axis - x or y axis
@function spacingGetMagnitude($lines, $axis: x) {
  $multiplier: if($axis == x, $grid-horizontal-rhythm, $grid-vertical-rhythm);
	$bl: spacingStripUnits(spacingGetRem($multiplier));

  @return ($bl * $lines) + rem;
}
