////
/// @group spacing
////

/// Shorthand for setting top of element
///
/// @param {map} $top - Map of breakpoint and value
@mixin spacingSetTop($top: (xs, 1)) {
	@include _spacingProcessList($top, top, y);
}

/// Shorthand for setting bottom of element
///
/// @param {map} $bottom - Map of breakpoint and value
@mixin spacingSetBottom($bottom: (xs, 1)) {
	@include _spacingProcessList($bottom, bottom, y);
}

/// Shorthand for setting left of element
/// 
/// @param {map} $left - Map of breakpoint and value
@mixin spacingSetLeft($left: (xs, 1)) {
	@include _spacingProcessList($left, left, y);
}

/// Shorthand for setting right of element
/// 
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetRight($right: (xs, 1)) {
	@include _spacingProcessList($right, right, y);
}

/// Shorthand for setting margin top of element
/// 
/// @param {map} $top - Map of breakpoint and value
@mixin spacingSetMT($top: (xs, 1)) {
	@include _spacingProcessList($top, margin-top, y);
}

/// Shorthand for setting margin bottom of element
/// 
/// @param {map} $bottom - Map of breakpoint and value
@mixin spacingSetMB($bottom: (xs, 1)) {
	@include _spacingProcessList($bottom, margin-bottom, y);
}

/// Shorthand for setting margin top and bottom of element
/// 
/// @param {map} $top - Map of breakpoint and value
/// @param {map} $bottom - Map of breakpoint and value
@mixin spacingSetMY($top: (xs, 1), $bottom: $top) {
	@include _spacingProcessList($top, margin-top, y);
	@include _spacingProcessList($bottom, margin-bottom, y);
}

/// Shorthand for setting margin left of element
/// 
/// @param {map} $left - Map of breakpoint and value
@mixin spacingSetML($left: (xs, 1)) {
	@include _spacingProcessList($left, margin-left, x);
}

/// Shorthand for setting margin right of element
/// 
/// @param {map} $left - Map of breakpoint and value
@mixin spacingSetMR($right: (xs, 1)) {
	@include _spacingProcessList($right, margin-right, x);
}

/// Shorthand for setting margin left and right of element
/// 
/// @param {map} $left - Map of breakpoint and value
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetMX($left: (xs, 1), $right: (xs, 1)) {
	@include _spacingProcessList($left, margin-left, x);
	@include _spacingProcessList($right, margin-right, x);
}

/// Shorthand for setting margin top, bottom, left, right of element
/// 
/// @param {map} $top - Map of breakpoint and value
/// @param {map} $bottom - Map of breakpoint and value
/// @param {map} $left - Map of breakpoint and value
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetMA($top: (xs, 1), $bottom: $top, $left: (xs, 1), $right: $left) {
	@include _spacingProcessList($top, margin-top, y);
	@include _spacingProcessList($bottom, margin-bottom, y);
	@include _spacingProcessList($left, margin-left, x);
	@include _spacingProcessList($right, margin-right, x);
}

/// Shorthand for setting padding top of element
/// 
/// @param {map} $top - Map of breakpoint and value
@mixin spacingSetPT($top: (xs, 1)) {
	@include _spacingProcessList($top, padding-top, y);
}

/// Shorthand for setting padding bottom of element
/// 
/// @param {map} $bottom - Map of breakpoint and value
@mixin spacingSetPB($bottom: (xs, 1)) {
	@include _spacingProcessList($bottom, padding-bottom, y);
}

/// Shorthand for setting padding top and bottom of element
/// 
/// @param {map} $top - Map of breakpoint and value
/// @param {map} $bottom - Map of breakpoint and value
@mixin spacingSetPY($top: (xs, 1), $bottom: $top) {
	@include _spacingProcessList($top, padding-top, y);
	@include _spacingProcessList($bottom, padding-bottom, y);
}

/// Shorthand for setting padding left of element
/// 
/// @param {map} $left - Map of breakpoint and value
@mixin spacingSetPL($left: (xs, 1)) {
	@include _spacingProcessList($left, padding-left, x);
}

/// Shorthand for setting padding right of element
/// 
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetPR($right: (xs, 1)) {
	@include _spacingProcessList($right, padding-right, x);
}

/// Shorthand for setting padding left and right of element
/// 
/// @param {map} $left - Map of breakpoint and value
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetPX($left: (xs, 1), $right: (xs, 1)) {
	@include _spacingProcessList($left, padding-left, x);
	@include _spacingProcessList($right, padding-right, x);
}

/// Shorthand for setting padding right of element
/// 
/// @param {map} $top - Map of breakpoint and value
/// @param {map} $bottom - Map of breakpoint and value
/// @param {map} $left - Map of breakpoint and value
/// @param {map} $right - Map of breakpoint and value
@mixin spacingSetPA($top: (xs, 1), $bottom: $top, $left: (xs, 1), $right: $left) {
	@include _spacingProcessList($top, padding-top, y);
	@include _spacingProcessList($bottom, padding-bottom, y);
	@include _spacingProcessList($left, padding-left, x);
	@include _spacingProcessList($right, padding-right, x);
}

/// Processes spacing list
/// 
/// @param {list} $list - list of maps
/// @param {string} $property - property to set
/// @param {string} $axis - defines the baseline
/// 
/// @access private
@mixin _spacingProcessList($list, $property, $axis) {
	@if (type-of(nth($list, 1)) == "list") {
    @each $current in $list {
      $breakpoint: nth($current, 1);
      @include mediaAddAbove($breakpoint) {
   			@include _spacingSetProperty($property, spacingGetMagnitude(nth($current, 2), $axis));
      }
    }
  } @else if (type-of(nth($list, 1)) == "string") {
    $breakpoint: nth($list, 1);
    @include mediaAddAbove($breakpoint) {
 			@include _spacingSetProperty($property, spacingGetMagnitude(nth($list, 2), $axis));
    }
  } @else {
  	@warn "Spacing list could not be processed. Please check formatting"
  } // sass-lint:disable-line brace-style
}

/// Sets spacing property
/// 
/// @param {string} $property - property to set
/// @param {number} $value - units in rem
@mixin _spacingSetProperty($property, $value) {
  @if type-of($property) == 'list' {
    @each $current in $property {
      #{$current}: $value;
    }
  } @else {
    #{$property}: $value;
  }
}
