////
/// @group spacing
////

/// Spacer padding class
///
/// @type String (p)
$spacer-padding-class: p !default;

/// Spacer margin class
///
/// @type String (m)
$spacer-margin-class: m !default;

/// Spacer vertical class
///
/// @type String (v)
$spacer-vertical-class: v !default;

/// Spacing base font
///
/// @type Number (px)
$spacing-base-font: 16px;

/// Spacer list of sizes
/// Each size is a multiple of $grid-vertical-rhythm and $grid-horizontal-rhythm
///
/// 1 - 4px
/// 2 - 8px
/// 3 - 12px
/// 4 - 16px
/// 5 - 20px
/// 6 - 24px
/// 7 - 28px
/// 8 - 32px
/// 9 - 36px
/// 10 - 40px
/// 11 - 44px
/// 12 - 48px
/// 13 - 52px
/// 14 - 56px
/// 16 - 64px
/// 17 - 68px
/// 20 - 80px
/// 22 - 88px
/// 24 - 96px
/// 32 - 128px
/// 40 - 160px
/// 48 - 192px
///
/// @type List
$spacer-list: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 22, 24, 32, 40, 48 !default;


/// Spacer vertical positions
///
/// Each vertical corresponds to a percentage offset from top of containing element
///
/// @type Map
$spacer-verticals: (
  0: (
    top: 0%,
    bottom: 0%,
  ),
  10: (
    top: 10%,
    bottom: 10%,
  ),
  20: (
    top: 20%,
    bottom: 20%,
  ),
  30: (
    top: 30%,
    bottom: 30%,
  ),
  40: (
    top: 40%,
    bottom: 40%,
  ),
  50: (
    top: 50%,
    translateY: 50%,
  ),
) !default;
