////
/// @group grid
////

/// Extra small screen / mobile size, in pixels
///
/// @type Number (pixels)
$screen-xs: 0; // Small mobile upto 374px

/// Small screen / mobile size, in pixels
///
/// @type Number (pixels)
$screen-sm: 375px; // Large mobile starts from 375px

/// Medium screen / tablet size, in pixels
///
/// @type Number (pixels)
$screen-md: 768px; // Tablet starts from 768px

/// Large screen / desktop size, in pixels
///
/// @type Number (pixels)
$screen-lg: 1025px; // Desktop starts from 1025px

/// Extra large screen / desktop size, in pixels
///
/// @type Number (pixels)

$screen-xl: 1440px; // Large Desktop starts from 1440px

$grid-breakpoints: (
  // phone
  xs: $screen-xs,
  // phone
  sm: $screen-sm,
  // tablet
  md: $screen-md,
  // desktop
  lg: $screen-lg,
  // desktop
  xl: $screen-xl
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 288px,
  sm: 336px,
  md: 696px,
  lg: 960px,
  xl: 1296px
);
/// Breakpoints
///
/// @type Map
$breakpoints: (
  tiny:   $screen-xs,
	mobile:  $screen-sm,
  tablet:  $screen-md,
  desktop: $screen-lg,
  wide:    $screen-xl
);

// The following are required by bootstrap and should not be modified
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xl-min: $screen-xl;
$screen-xl-large-desktop: $screen-xl-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
$grid-float-breakpoint: $screen-md-min;
