////
/// @group grid
////

/// Get a breakpoint's width
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
///
/// @requires {Variable} $breakpoints
///
/// @returns {Number} Value in pixels
@function gridGetBreakpointWidth($name, $breakpoints: $breakpoints) {
  @if map-has-key($breakpoints, $name) {
    @return map-get($breakpoints, $name);
  } @else {
    @warn "Breakpoint #{$name} wasn't found in $breakpoints.";
  }
}

/// Get next grid breakpoint
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
///
/// @requires {Variable} $breakpoints
///
/// @returns {String} Name of next breakpoint or null
@function gridGetNextBreakpoint($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

/// Get miniumun grid breakpoint width
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
///
/// @requires {Variable} $breakpoints
///
/// @returns {String} Value of minimum breakpoint or null
@function gridGetMinBreakpoint($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

/// Get maximum grid breakpoint width
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
///
/// @requires {Variable} $breakpoints
///
/// @returns {String} Value of maximum breakpoint or null
@function gridGetMaxBreakpoint($name, $breakpoints: $grid-breakpoints) {
  $next: gridGetNextBreakpoint($name, $breakpoints);
  @return if($next, gridGetMinBreakpoint($next, $breakpoints) - 1px, null);
}

/// Get width of row at specified breakpoint
///
/// @param {String} $breakpoint - Breakpoint (default: xs; sm, md, lg, xl)
///
/// @returns {Number} Percentage width or null
@function gridGetRowWidth($breakpoint: xs) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
      @return map-get($row-widths, $breakpoint);
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
    @return null;
  }
}

/// Get margin of row at specified breakpoint
///
/// @param {String} $breakpoint - Breakpoint (default: xs; sm, md, lg, xl)
///
/// @returns {Number} Percentage width or null
@function gridGetRowMargin($breakpoint: xs) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
      @return map-get($margin-widths, $breakpoint);
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
    @return null;
  }
}


/// Get width of specified number of columns at specified breakpoint
///
/// @param {Number} $columns - Number of columns (upto 12)
/// @param {String} $breakpoint - Breakpoint (default: xs; sm, md, lg, xl)
/// @param {Number} $parent - Number of columns in parent (default: 12)
///
/// @returns {Number} Percentage width or null
@function gridGetColumnWidth($columns, $breakpoint: xs, $parent: $grid-columns) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
    @if ($columns <= $grid-columns) {
      @return percentage($columns / $parent);
    } @else {
      @warn "Number of columns must be 12 or smaller";
      @return null;
    }
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
    @return null;
  }
}

/// Get column padding (left / right) for specified breakpoint
///
/// @param {String} $breakpoints - Breakpoint (xs, sm, md, lg, xl)
/// @param {Number} $parent - Number of columns in parent (default: 12)
///
/// @returns {Number} Percentage padding or null
@function gridGetColumnPadding($breakpoint: xs, $parent: $grid-columns) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
    $gutter-width: map-get($grid-gutter-widths, $breakpoint);
    $column-ratio: $grid-columns / $parent;

    @return ($gutter-width * $column-ratio) / 2;
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
    @return null;
  }
}

/// Get column gutter (left / right) for specified breakpoint
///
/// @param {String} $breakpoints - Breakpoint (xs, sm, md, lg, xl)
/// @param {Number} $parent - Number of columns in parent (default: 12)
///
/// @returns {Number} Negative percentage of gutter or null
@function gridGetColumnGutter($breakpoint: xs, $parent: $grid-columns) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
    $gutter-padding: map-get($grid-gutter-widths, $breakpoint);
    $gutter-margin: map-get($margin-widths, $breakpoint);
    $column-ratio: $grid-columns / $parent;

    @return ($gutter-margin + ($gutter-padding * $column-ratio) / 2);
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
    @return null;
  }
}


