////
/// @group grid
////

/// Insert content for defined breakpoint and above
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
/// @requires {Variable} $breakpoints
@mixin mediaAddAbove($name, $breakpoints: $grid-breakpoints) {
  $min: gridGetMinBreakpoint($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Insert content for defined breakpoint and below
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
/// @requires {Variable} $breakpoints
@mixin mediaAddBelow($name, $breakpoints: $grid-breakpoints) {
  $max: gridGetMaxBreakpoint($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Insert content for defined breakpoint only
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
/// @requires {Variable} $breakpoints
@mixin mediaAddTo($name, $breakpoints: $grid-breakpoints) {
  @include mediaAddAbove($name, $breakpoints) {
    @include mediaAddBelow($name, $breakpoints) {
      @content;
    }
  }
}

/// Insert column dimension for defined breakpoint
///
/// @param {Number} $columns - Number of columns (upto 12)
/// @param {String} $breakpoint - One of $breakpoints
/// @param {Number} $parent - Number of columns in parent (default: 12)
@mixin gridSetColumns($columns, $breakpoint: xs, $parent: 12) {
  @if (map-has-key($grid-breakpoints, $breakpoint)) {
    @if ($columns <= $grid-columns) {
      width: gridGetColumnWidth($columns, $breakpoint, $parent);
      padding-left: gridGetColumnPadding($breakpoint, $parent);
      padding-right: gridGetColumnPadding($breakpoint, $parent);
    } @else {
      @warn "Number of columns must be 12 or smaller";
    }
  } @else {
    @warn "Breakpoint name '" + "${breakpoint}" + "' is not defined";
  }
};

/// Insert content for defined breakpoints
///
/// @param {String} $breakpoint [mobile] - tiny, mobile, tablet, desktop, wide
@mixin containerRespondTo($breakpoint: tiny) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
          @content;
      }
  } @else {
    @warn "No value could be retrieved from `#{$breakpoint}`."
  }
}

/// Remove gutters from a container
///
/// @param {String} $side [null] - left, right
@mixin containerRemoveGutters($side: null) {
  @if $side == 'left' {
    padding-left: 0;
    margin-left: 0;
  }
  @if $side == 'right' {
    padding-right: 0;
    margin-right: 0;
  }
  @if $side == null {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/// Remove padding from a container
@mixin containerRemovePadding() {
  padding-left: 0;
  padding-right: 0;
}

/// Remove margin from a container
@mixin containerRemoveMargin() {
  margin-left: 0;
  margin-right: 0;
}

/// Center container
@mixin containerCenter {
  margin-left: auto;
  margin-right: auto;
}

/// Sets width of a row to values specified in map
///
/// @param {Map} $rows
@mixin rowSetWidth($rows: $row-widths) {
  @each $breakpoint in map-keys($rows) {
    @include mediaAddAbove($breakpoint) {
      clear: both;
      margin: 0 auto;
      width: map-get($rows, $breakpoint);
      @include clearfix;
    }
  }
}

/// Resets width of a row to 100%
///
/// @param {Map} $rows
@mixin rowResetWidth($rows: $row-widths) {
  @each $breakpoint in map-keys($rows) {
    @include mediaAddAbove($breakpoint) {
      width: 100%;
    }
  }
}

/// Remove gutters from direct descendant columns of row
///
/// @param {String} $side [null] - left, right
@mixin rowRemoveGutters($side: null) {
  @if $side == 'left' {
    > [class*="col-"] {
      padding-left: 0;
      margin-left: 0;
    }
  }
  @if $side == 'right' {
    > [class*="col-"] {
      padding-right: 0;
      margin-right: 0;
    }
  }
  @if $side == null {
    > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/// Remove padding from direct descendant columns of row
@mixin rowRemovePadding() {
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

/// Remove gutters from a column
///
/// @param {String} $side [null] - left, right
@mixin columnRemoveGutters($side: null) {
  @if $side == 'left' {
    padding-left: 0;
    margin-left: 0;
  }
  @if $side == 'right' {
    padding-right: 0;
    margin-right: 0;
  }
  @if $side == null {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/// Remove paddings from a column
///
/// @param {String} $side [null] - left, right
@mixin columnRemovePaddings($side: null) {
  @if $side == 'left' {
    padding-left: 0;
  }
  @if $side == 'right' {
    padding-right: 0;
  }
  @if $side == null {
    padding-left: 0;
    padding-right: 0;
  }
}
