////
/// @group grid
////

/// Number of columns
///
/// @type Number (unitless)
$grid-columns: 12;

// Twelve columns of 14px, eleven gutters of 10px = 278px wide plus two margins of 21px in a 320px viewport
$xs-page-width:       320px;
$xs-margin-width:     21px;
$xs-column-width:     14px;
$xs-gutter-width:     10px;
$xs-row-spacing:      5px;

$xs-container-width:  $xs-page-width;
$xs-row-width:        $xs-container-width - (2 * $xs-margin-width) + $xs-gutter-width;
$xs-gutter-percent:   ($xs-gutter-width / $xs-row-width) * 100%;
$xs-row-percent:      ($xs-row-width / $xs-page-width) * 100%;
$xs-margin-percent:   (100% - $xs-row-percent) / 2;

// Twelve columns of 16px, eleven gutters of 12px = 335px wide plus two margins of 25.5px in a 375px viewport
$sm-page-width:       375px;
$sm-margin-width:     25.5px;
$sm-column-width:     16px;
$sm-gutter-width:     12px;
$sm-row-spacing:      6px;

$sm-container-width:  $sm-page-width;
$sm-row-width:        $sm-container-width - (2 * $sm-margin-width) + $sm-gutter-width;
$sm-gutter-percent:   ($sm-gutter-width / $sm-row-width) * 100%;
$sm-row-percent:      ($sm-row-width / $sm-page-width) * 100%;
$sm-margin-percent:   (100% - $sm-row-percent) / 2;

// Twelve columns of 38px, eleven gutters of 20px = 680px wide plus two margins of 46px in a 768px viewport
$md-page-width:       768px;
$md-margin-width:     46px;
$md-column-width:     38px;
$md-gutter-width:     20px;
$md-row-spacing:      10px;

$md-container-width:  $md-page-width;
$md-row-width:        $md-container-width - (2 * $md-margin-width) + $md-gutter-width;
$md-gutter-percent:   ($md-gutter-width / $md-row-width) * 100%;
$md-row-percent:      ($md-row-width / $md-page-width) * 100%;
$md-margin-percent:   (100% - $md-row-percent) / 2;

// Twelve columns of 76px, eleven gutters of 32px = 1264px wide plus two margins of 88px in a 1440px viewport
$lg-page-width:       1440px;
$lg-margin-width:     88px;
$lg-column-width:     76px;
$lg-gutter-width:     32px;
$lg-row-spacing:      16px;

$lg-container-width:  $lg-page-width;
$lg-row-width:        $lg-container-width - (2 * $lg-margin-width) + $lg-gutter-width;
$lg-gutter-percent:   ($lg-gutter-width / $lg-row-width) * 100%;
$lg-row-percent:      ($lg-row-width / $lg-page-width) * 100%;
$lg-margin-percent:   (100% - $lg-row-percent) / 2;

// Twelve columns of 100px, eleven gutters of 44px = 1684px wide plus two margins of 118px in a 1920px viewport
$xl-page-width:       1920px;
$xl-margin-width:     118px;
$xl-column-width:     100px;
$xl-gutter-width:     44px;
$xl-row-spacing:      22px;

$xl-container-width:  $xl-page-width;
$xl-row-width:        $xl-container-width - (2 * $xl-margin-width) + $xl-gutter-width;
$xl-gutter-percent:   ($xl-gutter-width / $xl-row-width) * 100%;
$xl-row-percent:      ($xl-row-width / $xl-page-width) * 100%;
$xl-margin-percent:   (100% - $xl-row-percent) / 2;

$grid-gutter-width-base: 20px;

$grid-gutter-widths: (
  xs: $xs-gutter-percent,
  sm: $sm-gutter-percent,
  md: $md-gutter-percent,
  lg: $lg-gutter-percent,
  xl: $xl-gutter-percent
);

$row-width-base: 100%;

$row-widths: (
  xs: $xs-row-percent,
  sm: $sm-row-percent,
  md: $md-row-percent,
  lg: $lg-row-percent,
  xl: $xl-row-percent
);

$margin-widths: (
  xs: $xs-margin-percent,
  sm: $sm-margin-percent,
  md: $md-margin-percent,
  lg: $lg-margin-percent,
  xl: $xl-margin-percent
);

/// Grid vertical rhythm - used for setting font-size, line-height & vertical spacing
///
/// @type Number - pixels
$grid-vertical-rhythm: 4px;

/// Grid horizontal rhythm - used for setting horizontal spacing
///
/// @type Number - pixels
$grid-horizontal-rhythm: 4px;

