@import './src/colors';
@import './src/typography';
// Mobile and above
.category {
  &-container {
  h6 {
    font-size: spacingGetMagnitude(6);
  }
  width: 100%;
  margin-top: 50px;
  
  &__list {
    list-style: none;
    padding-left: 0;
    li {
      label {
        padding-left: 15px;
      }
    }
  }
  }
} 

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  
}

// Mobile and Tablet only
@media only screen and (max-width: $screen-md-max) {
  
}
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .category {
    &.container-fluid--upto-lg {
      padding-left:0;
      padding-right:0;
    }
  }
}

@media only screen and (max-width: $screen-md-max) {
  .category-container {
    &__list {
      float: left;

    }
  }
}
@media only screen and (min-width: $screen-xl-min) {
  
}