@import './src/colors';
@import './src/typography';
// Mobile and above
.header {
  height: spacingGetMagnitude(18.5);
  background-color: colorsGetColorFor(header, background);
  color: colorsGetColorFor(header, text);
  &__logoContainer {
      float: left;
      &__logo {
        width: spacingGetMagnitude(40);
        padding-top: 20px;
      }
  }
  .container {
    width: 100%;
  }

}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  .header {

  }
}

// Mobile and Tablet only
@media only screen and (max-width: $screen-md-max) {
  .header {

  }
}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {
  .header {
    
  }
}
@media only screen and (min-width: $screen-xl-min) {
  .header {
    .container {
      width: auto;
      max-width: 1269px;
    }
    
  }
}