@import "./src/colors";

// Mobile and above
.skill-search {
	/*margin: spacingGetMagnitude(10);*/
	&__btn {
		border-radius: 20px;
		font-size: 14px;
		padding: 0.2rem 0.5rem;
	}

	&__tick {
  	
  	}
  	&__container {
  		margin-bottom: 10px;	
  	}
  	.search-nav__overlay {
  		&-input {
  			font-size: 14px;
  			outline-offset: 0;

  			&:focus {
  				outline-color: transparent;
  				outline-style: 0;
  				outline-width: 0;
  			}
  		}
  	}

  &__suggestions {
  	background-color: colorsGetColorFor(skill-search-suggestions, background);
  	&-item {
  		list-style: none;
  		.skill-search__suggestiions-btn {
  			border:0;
  			background-color: colorsGetColorFor(skill-search-suggestions-btn, background);
  			font-size: 14px;
  			padding: 0;
  		}
  	}
  	
  }
}

//Tablet only
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .skill-search {
  }
}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
	.skill-search {

	}
}
@media only screen and (max-width: $screen-md-max) {
	.skill-search {
		float: right;
	}
}