@keyframes digi-fade-in {

  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes digi-fade-in-image {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes digi-fade-in-linear {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes digi-fade-out-linear {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes digi-fade-in-error {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes digi-fade-in-abrupt {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

