@keyframes digi-flip-in-y {

	from {
    transform: translateY(-50%) rotateX(180deg);
  }

  to {
    transform: translateY(-50%) rotateX(0deg);
  }
}

@keyframes digi-flip-out-y {

  from {
    transform: translateY(-50%) rotateX(0deg);
  }

  to {
    transform: translateY(-50%) rotateX(180deg);
  }
}
