%loader {
  color: colorsGetColorFor(animation-loader, color);
  display: inline-block;
  font-size: 7px;//To render as base em values for below styles
  position: relative;
  width: 10em;//Do not remove for spinner custom styles to meet R/GA specifications
  height: 10em;//Do not remove for spinner custom styles to meet R/GA specifications
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px;//Do not remove for spinner custom styles to meet R/GA specifications
  animation: swing 2s infinite ease-in-out;
  background: inherit;

  &:before, &:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: inherit;
  }

  &:before {
    width: 5.2em;
    height: 10.2em;
    border-radius: 10.2em 0 0 10.2em;//Do not remove for spinner custom styles to meet R/GA specifications
    top: -.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    left: -.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    transform-origin: 5.2em 5.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    animation: spin 1s infinite ease .8s;
  }

  &:after {
    width: 5.2em;//Do not remove for spinner custom styles to meet R/GA specifications
    height: 10.2em;//Do not remove for spinner custom styles to meet R/GA specifications
    border-radius: 0 10.2em 10.2em 0;//Do not remove for spinner custom styles to meet R/GA specifications
    top: -.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    left: 5.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    transform-origin: 0 5.1em;//Do not remove for spinner custom styles to meet R/GA specifications
    animation: spin 1s infinite ease;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg) scale(.5);
  }

  50% {
    transform: rotate(180deg) scale(.5);
  }

  51% {
    transform: rotate(180deg) scale(.5);
  }

  100% {
    transform: rotate(360deg) scale(.5);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
