@keyframes digi-scale-up-fade-in {

  0% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }

  20% {
    transform: translateY(-50%) scale(.2);
    opacity: .4;
  }

  60% {
    transform: translateY(-50%) scale(.5);
    opacity: .6;
  }

  80% {
    transform: translateY(-50%) scale(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }

}

@keyframes digi-scale-up-exclaim {

  0% {
    transform: translateY(0%) scale(.3);
    visibility: visible;
  }

  90% {
    transform: translateY(0%) scale(1.2);
    visibility: visible;
  }

  100% {
    transform: translateY(0%) scale(1);
    visibility: visible;
  }

}

@keyframes digi-scale-up-checkmark {

  0% {
    transform: translateY(-50%) rotate(45deg) scale(.3);
    visibility: visible;
  }

  90% {
    transform: translateY(-50%) rotate(45deg) scale(1.2);
    visibility: visible;
  }

  100% {
    transform: translateY(-50%) rotate(45deg) scale(1);
    visibility: visible;
  }

}

@keyframes digi-scale-horizontal-fade-in {

  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  20% {
    transform: scaleY(.5);
    opacity: 0;
  }

  50% {
    transform: scaleY(1);
    opacity: .2;
  }

  75% {
    transform: scaleY(1);
    opacity: .5;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }

}

@keyframes digi-scale-focus-in {

  0% {
    transform: scale(.97);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes digi-scale-linear-scale-in {

  0% {
    transform: scale(.65) translate(-67.5%, -67.5%);
  }

  50% {
    transform: scale(1.1) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes digi-scale-fade-in {

  0% {
    opacity: 0;
    transform: scale(.65);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes digi-slide-up-scale-fade-in {

  0% {
    opacity: 0;
    transform: translateY(spacingGetMagnitude(3.75));
  }

  50% {
    opacity: 1;
    transform: translate(0);
    animation-timing-function: linear;
  }

  55% {
    transform: translateX(4px);
    opacity: 1;
    animation-timing-function: linear;
  }

  60% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
