@keyframes digi-slide-down-fade-in {

	0% {
		max-height: 0;
		opacity: 0;
	}

	50% {
		max-height: 9999px;
		opacity: 0;
	}

	75% {
		max-height: 9999px;
		opacity: .75;
	}

	100% {
		max-height: 9999px;
		opacity: 1;
	}

}

@keyframes digi-slide-above-fold {

  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes digi-slide-beneath-fold {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }

}

@keyframes digi-slide-up-fade-in {

  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes digi-slide-up-fade-out {

  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
  }

}

@keyframes digi-slide-up-fade-out-form {

  0% {
    opacity: 1;
    height: 999px;
  }

  100% {
    opacity: 0;
    height: 0;
  }

}

@keyframes digi-slide-up-button {

  0% {
    max-height: 999px;
		transform: translateY(0%);
		opacity: 1;
  }

  100% {
    max-height: 0;
		transform: translateY(-50%);
		opacity: 0;
  }

}

@keyframes digi-slide-up-button {

  0% {
    max-height: 999px;
		transform: translateY(0%);
		opacity: 1;
  }

  100% {
    max-height: 0;
		transform: translateY(-50%);
		opacity: 0;
  }

}

@keyframes digi-slide-round-the-world {

	0% {
		transform: translateX(0%);
	}

	50% {
		transform: translateX(150%);
	}

	50.1% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}

}
