@keyframes digi-half-cw-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }

}

@keyframes digi-full-cw-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
