<div class="js-login-parent">
    <div class="js-login">
        <div class="js-login-error hidden-xs-up"></div>
        <form class="js-login-form" data-error-message="Error Message">
            <button class="js-login-button" type="submit">
                <input id="login-email" name="email" type="email" value="hello@example.com" />
                <span class="js-button-loader"></span>
                <span class="button__loader-sibling">Login</span>
            </button>
        </form>
    </div>
</div>