@import "src/use-cases";
@import "src/themes";
@import "src/functions";
@import "src/variables";
@import "src/mixins";

@import "lib/headings";
@import "lib/body-common";
@import "lib/body-general";
@import "lib/pricing";
@import "lib/classes";

@each $theme, $properties in $typography-themes {
  .#{$typography-theme-class}--#{$theme} {
    @include typographyTheme($theme);
  }
}

@each $breakpoint, $size in $grid-breakpoints {
  @each $theme, $properties in $typography-themes {
    .#{$typography-theme-class}-#{$breakpoint}--#{$theme} {
      @include typographyThemePerBreakpoint($theme, $breakpoint);
    }
  }
}
