html {
	font-size: 100%;
	line-height: 1.5;
}

/// Body typograohy
body {
	@include typographySetFontType('body1');
	@include typographySetFontSize('body1');
	-webkit-font-smoothing: antialiased;
}

/// Heading typography
h1, .h1 {
	@include typographyHeading1;
}

h2, .h2 {
	@include typographyHeading2;
}

h3, .h3 {
	@include typographyHeading3;
}

h4, .h4 {
	@include typographyHeading4;
}

h5, .h5 {
	@include typographyHeading5;
}

h6, .h6 {
	@include typographyHeading6;
}

// Paragraph typography
p {
	@include typographyBody;

    strong, b {
        @include typographySetFontType(strong);
    }
}

// Link typography
a {
	@include typographyBodyLink;
}

// List typography
ul, ol, ul ul, ol ol {
	@include typographyBodyList;
}

ul {
	@include typographyBodyListUnordered;
}

ol {
	@include typographyBodyListOrdered;
}

small {
	@include typographyBodySmall;
}

strong, b {
    @include typographyStrong;
}
