@import 'src/themes';
@import 'src/typography';
@import 'src/variables';
@import 'src/functions';
@import 'src/mixins';
@import 'src/loader';

@if ($buttons-is-silent == false) {
  .#{$buttons-class} {
    @include buttons;
  }

  @each $size, $properties in $buttons-sizes {
    .#{$buttons-class}--#{$size} {
      @include buttonsSize($size);
    }
  }

  @each $size, $properties in $buttons-sizes {
    .#{$buttons-class}--#{$size} {
      @include buttonsText($size);
    }
  }

  @each $theme, $properties in $buttons-themes {
    .#{$buttons-class}--#{$theme} {
      @include buttonsTheme($theme);
    }
  }

  $buttons-is-silent: true !global;
}
