.toast {
	width: 100%;
	height: spacingGetMagnitude(20);
	background-color: colorsGetColorFor(toast, background);
	@include typographySetFont('toast-text');
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	transform: translateY(spacingGetMagnitude(20));

	&.expanded {
		animation: digi-slide-above-fold 1s cubic-bezier(.23, 1, .32, 1) forwards;
	}

	&.collapsed {
		animation: digi-slide-beneath-fold 1s ease-out forwards;
	}

	&__progress {

		.expanded & {
			width: spacingGetMagnitude(12.5);
			height: spacingGetMagnitude(12.5);
			position: absolute;
			transform: translateY(20%);
			clip: rect(0, 50px, 50px, 25px);
			animation: digi-clip-reset .01s 1.2s linear 1 forwards;
			top: spacingGetMagnitude(2.5);
		}
	}

	&__circle {

		.expanded & {
			width: spacingGetMagnitude(9);
			height: spacingGetMagnitude(9);
			border: 2px solid colorsGetColorFor(toast-circle, border);
			border-radius: spacingGetMagnitude(12.5);
			position: absolute;
			clip: rect(0, 25px, 40px, 0);

				&--left {
					animation: digi-full-cw-spin .4s 1s linear 1 forwards;
				}

				&--right {
					animation: digi-half-cw-spin .2s 1s linear 1 forwards;
				}
		}

		.failure & {
			border-color: colorsGetColorFor(toast-cross, fill);
		}
	}

	&__text {
		padding-left: spacingGetMagnitude(6);

		.expanded & {
			position: absolute;
			top: 48%;
			left: spacingGetMagnitude(6.5);
			opacity: 0;
			width: 70%;
			color: colorsGetColorFor(toast, text);
			transform: translate3d(-50%, -50%, 0);
			animation: digi-fade-in .2s 1.65s ease-in forwards;
		}

		.successfull & {

			&--failure {
				display: none;
			}
		}

		.failure & {
			display: none;

			&--failure {
				display: block;
				color: colorsGetColorFor(toast-failure, text);
			}
		}
	}

	&__close {

		.expanded & {
			position: relative;
			opacity: 0;
			top: 50%;
			transform: translateY(-50%);
			animation: digi-fade-in .2s 1.7s ease-in forwards;
			float: right;
		}
	}

	&__tick {
		position: relative;
		height: 100%;
		display: inline-block;

		.expanded &:after {
			content: '';
			display: block;
			visibility: hidden;
			width: 7px;
			height: 12px;
			border: solid colorsGetColorFor(toast-tick, border);
			border-width: 0 2px 2px 0;
			position: absolute;
			top: 46%;
			left: spacingGetMagnitude(4);
			transform: translateY(-50%) rotate(45deg) scale(1);
			animation: digi-scale-up-checkmark .2s 1.6s linear forwards;
		}

		.failure & {
			display: none;
		}

	}

	&__cross {

		.expanded & {
			position: absolute;
			left: spacingGetMagnitude(12);
			top: 33%;
			width: 25px;
			height: 25px;
			transform: translateY(0%) scale(0);
			animation: digi-scale-up-exclaim .2s 1.6s linear forwards;
			clip-path: inset(5px);
		}

		.expanded &:before,
		.expanded &:after {
			content: '';
			position: absolute;
			background-color: colorsGetColorFor(toast-cross, fill);
		}

		.expanded &:before {
			top: 0;
			left: 50%;
			width: 2px;
			height: 100%;
			margin-left: 0;
		}

		.expanded &:after {
			top: 50%;
			left: 1px;
			width: 100%;
			height: 2px;
			margin-top: -1px;
		}

		.successfull & {
			display: none;
		}
	}

	&__row, &__column {
		height: 100%;
	}

	.icon {
		fill: colorsGetColorFor(toast-cross, fill);
		cursor: pointer;
		width: spacingGetMagnitude(4);
		height: spacingGetMagnitude(4);
	}
}

//Tablet and above
@media only screen and (min-width: $screen-md-min) {
	.toast {
		height: 96px;
		transform: translateY(96px);

		&__circle {
			.expanded & {
				width: spacingGetMagnitude(10);
				height: spacingGetMagnitude(10);
			}
		}

		&__text {
			.expanded & {
				left: spacingGetMagnitude(12);
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&__tick {
			.expanded &:after {
				width: 7px;
				height: spacingGetMagnitude(4);
				position: absolute;
				top: 48%;
				left: spacingGetMagnitude(4.25);
			}
		}

		&__progress {
			.expanded & {
				transform: translateY(35%);
			}
		}

		&__close {
			.expanded & {
				top: 48%;
			}
		}
	}
}

// IE10+ specific styles
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.toast {
		&__progress {
			.expanded & {
				clip: auto;
			}
		}
	}
}
