<!--<input class="js-user-email" id="email" value="hello@example.com"/>-->
<form class="js-email-form">
    <input class="js-email" name="email" type="text" data-parsley-is-email="true" data-parsley-is-email-message="Please enter a valid email address."/>
</form>

<!--it should return field values and ids without index-->
<input id="expiryMonth-0" type="tel" length="2" value="10" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 12]" data-parsley-type="number" class="js-test-class js-expiry-month" name="expiryMonth" required data-parsley-is-month="true" data-parsley-error-message="Error Message Month" data-parsley-date="js-expiry"/>
<input id="expiryYear-0" type="tel" length="2" value="11" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 99]" data-parsley-type="number" class="jjs-test-class  s-expiry-year" name="expiryYear" required data-parsley-error-message="Error Message Year" data-parsley-date="js-expiry"/>

<!--it should return field values and ids with index-->
<input id="0-expiryMonth-0" type="tel" length="2" value="53" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 12]" data-parsley-type="number" class="js-test-class  js-expiry-month" name="expiryMonth" required data-parsley-is-month="true" data-parsley-error-message="Error Message Month" data-parsley-date="js-expiry"/>
<input id="0-expiryYear-0" type="tel" length="2" value="12" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 99]" data-parsley-type="number" class="js-test-class  js-expiry-year" name="expiryYear" required data-parsley-error-message="Error Message Year" data-parsley-date="js-expiry"/>

<!--it should return good expiry date true-->
<input id="0-expiryMonth-1" type="tel" length="2" value="12" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 12]" data-parsley-type="number" class="js-test-class  js-expiry-month" name="expiryMonth" required data-parsley-is-month="true" data-parsley-error-message="Error Message Month" data-parsley-date="js-expiry"/>
<input id="0-expiryYear-1" type="tel" length="2" value="99" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 99]" data-parsley-type="number" class="js-test-class  js-expiry-year" name="expiryYear" required data-parsley-error-message="Error Message Year" data-parsley-date="js-expiry"/>

<!--it should return good expiry date false, month not numeric-->
<input id="0-expiryMonth-2" type="tel" length="2" value="aa" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 12]" data-parsley-type="number" class="js-test-class  js-expiry-month" name="expiryMonth" required data-parsley-is-month="true" data-parsley-error-message="Error Message Month" data-parsley-date="js-expiry"/>
<input id="0-expiryYear-2" type="tel" length="2" value="18" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 99]" data-parsley-type="number" class="js-test-class  js-expiry-year" name="expiryYear" required data-parsley-error-message="Error Message Year" data-parsley-date="js-expiry"/>

<!--it should return good expiry date false, year out of range-->
<input id="0-expiryMonth-3" type="tel" length="2" value="18" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 12]" data-parsley-type="number" class="js-test-class  js-expiry-month" name="expiryMonth" required data-parsley-is-month="true" data-parsley-error-message="Error Message Month" data-parsley-date="js-expiry"/>
<input id="0-expiryYear-3" type="tel" length="2" value="00" maxlength="2" data-parsley-validation-threshold="2" data-parsley-range="[1, 99]" data-parsley-type="number" class="js-test-class  js-expiry-year" name="expiryYear" required data-parsley-error-message="Error Message Year" data-parsley-date="js-expiry"/>

