// Mixin for sequential fade-in transition. In other words, the child elements fade in one after another
//
// $start: the beginning index for the rest of the elements (2 if the third argument is 1, 1 if third argument is 0).
// $end: the ending index for the elements
// $indexOfElementToTransitionQuicker: the index of the element you want to fade-in before the rest. default: 0
// $speed: the speed of the faster animation. default: 0
// $delay: the delay for the faster animation. default: 0
//
// Example (all transitions at same speed): if you want to fade-in 4 child elements one after another you can do:
// @include sequential-fade-in-transition(1, 4);
//
// Example (one transition faster): if you want to fade-in 5 child elements, and the first one has to fade-in before the rest
// The speed is 0.1s and the delay is 0s then we can do:
// @include sequential-fade-in-transition-one-faster(2, 5, 1, 0.1, 0);
// What this will do is fade-in the first child quicker, and then from 2-5 one after another.
@mixin sequential-fade-in-transition($start, $end, $indexOfElementToTransitionQuicker: 0, $speed: 0, $delay: 0) {
  opacity: 1;

  &:nth-of-type(#{$indexOfElementToTransitionQuicker}) {
    transition: opacity #{$speed}s #{$delay}s linear;
  }

  @for $i from $start through $end {

    &:nth-of-type(#{$i}) {
      transition: opacity .3s #{$i * .15}s linear;
    }
  }
}

@mixin starKeyframe ($opacity, $scale, $x, $y) {
    opacity: $opacity;
    transform: scale($scale) translate($x, $y);
}
