/// Check if a theme has a certain state
///
/// @param {String} $theme - One of $buttons-themes
/// @param {String} $state - One of normal, hover, focus, selected, disabled, pressed
@function _buttonsThemeHasState($theme, $state) {
  $states: map-get($buttons-themes, $theme);
  @return map-has-key($states, $state);
}

/// Check if a state has a property
///
/// @example
///  @if _buttonsStateHasProperty(transactional, focus, color) {}
///
/// @param {String} $theme - One of $buttons-themes
/// @param {String} $state - One of normal, hover, focus, selected, disabled, pressed
/// @param {String} $property - CSS property name
@function _buttonsStateHasProperty($theme, $state, $property) {
  $states: map-get($buttons-themes, $theme);
  $properties: map-get($states, $state);
  @return map-has-key($properties, $property);
}

/// Get the value of a property in a given state
///
/// @example
///  div {
///   background-color: _buttonsStateHasProperty(transactional, selected, background);
///  }
///
/// @param {String} $theme - One of $buttons-themes
/// @param {String} $state - One of normal, hover, focus, selected, disabled, pressed
/// @param {String} $property - CSS property name
@function _buttonsStateGetProperty($theme, $state, $property) {
  $states: map-get($buttons-themes, $theme);
  $properties: map-get($states, $state);
  @return map-get($properties, $property);
}

/// Get the value of a property in a given animation
///
///
/// @param {String} $animation - One of $buttons-animations
/// @param {String} $property - CSS property name
@function _buttonsAnimationGetProperty($animation, $property) {
	$animations: map-get($button-animations, $animation);
	@return map-get($animations, $property);
}
