////
/// @group buttons
////

/// Button loader
/// Outputs loader inside the button replacing the text when a network call is made after the click 

.button {
  &__loader {
    @extend %loader;
    position: absolute;
    left: calc(50% - 5em);//Do not remove for spinner custom styles to meet R/GA specifications
    top: calc(50% - 5em);//Do not remove for spinner custom styles to meet R/GA specifications
    opacity: 0;
    transition: opacity 400ms;
    transition-delay: 400ms;

    &-initial {
      opacity: 1;
    }

    & + &-sibling {
      opacity: 0;
      transition: opacity 400ms;
    }
  }
}