////
/// @group buttons
////

@include colorsSetUseCase(buttons-transactional-normal,   text,       white);
@include colorsSetUseCase(buttons-transactional-normal,   background, green);
@include colorsSetUseCase(buttons-transactional-normal,   border,     green);
@include colorsSetUseCase(buttons-transactional-hover,    text,       white);
@include colorsSetUseCase(buttons-transactional-hover,    background, green);
@include colorsSetUseCase(buttons-transactional-hover,    border,     green);
@include colorsSetUseCase(buttons-transactional-active,   text,       white);
@include colorsSetUseCase(buttons-transactional-active,   background, transparent);
@include colorsSetUseCase(buttons-transactional-active,   border,     dark-green);
@include colorsSetUseCase(buttons-transactional-pressedselected, background, dark-green);
@include colorsSetUseCase(buttons-transactional-pressedselected, border,     dark-green);
@include colorsSetUseCase(buttons-transactional-hoverbefore, background,    green);
@include colorsSetUseCase(buttons-transactional-hoverafter, background,    dark-green);
@include colorsSetUseCase(buttons-transactional-pressedafter, border,     white);


/// Theme: Transactional
///
/// @type Map
$buttons-themes__transactional: (
  normal: (
    color: colorsGetColorFor(buttons-transactional-normal, text),
    background-color: colorsGetColorFor(buttons-transactional-normal, background),
    border-color: colorsGetColorFor(buttons-transactional-normal, border),
  ),
  focus: (
    box-shadow: inset 0 0 0 1px rgba(colorsGetColorFor(buttons-transactional-hover, border), 0.5),
  ),
  active: (
    color: colorsGetColorFor(buttons-transactional-active, text),
    background-color: colorsGetColorFor(buttons-transactional-active, background),
    border-color: colorsGetColorFor(buttons-transactional-active, background),
    outline: none,
  ),
  disabled: (
    color: colorsGetColorFor(buttons-transactional-normal, text),
    background-color: colorsGetColorFor(buttons-transactional-normal, background),
    border-color: colorsGetColorFor(buttons-transactional-normal, border),
    opacity: 1,
  ),
  hover: (
    color: colorsGetColorFor(buttons-transactional-hover, text),
    background-color: colorsGetColorFor(buttons-transactional-hover, background),
    border-color: colorsGetColorFor(buttons-transactional-hover, background),
  ),
  pressedselected: (
    background-color: colorsGetColorFor(buttons-transactional-pressedselected, background) !important,
    border-color: colorsGetColorFor(buttons-transactional-pressedselected, border),
  ),
  hoverbefore: (
    background-color: colorsGetColorFor(buttons-transactional-hoverbefore, background),
  ),
  hoverafter: (
    background-color: colorsGetColorFor(buttons-transactional-hoverafter, background),
  ),
  pressedafter: (
    border: solid colorsGetColorFor(buttons-transactional-pressedafter, border),
  )
) !default;


@include colorsSetUseCase(buttons-interactive-normal,   text,              white);
@include colorsSetUseCase(buttons-interactive-normal,   background,        grey-tint1);
@include colorsSetUseCase(buttons-interactive-normal,   border,            grey-tint1);
@include colorsSetUseCase(buttons-interactive-hover,    text,              white);
@include colorsSetUseCase(buttons-interactive-hover,    background,        grey-tint1);
@include colorsSetUseCase(buttons-interactive-hover,    border,            grey-tint1);
@include colorsSetUseCase(buttons-interactive-active,   text,              white);
@include colorsSetUseCase(buttons-interactive-active,   background,        grey-tint5);
@include colorsSetUseCase(buttons-interactive-active,   border,            grey-tint5);
@include colorsSetUseCase(buttons-interactive-pressedselected, background, black);
@include colorsSetUseCase(buttons-interactive-pressedselected, text,       white);
@include colorsSetUseCase(buttons-interactive-hoverbefore, background,     grey-tint1);
@include colorsSetUseCase(buttons-interactive-hoverafter, background,    black);
@include colorsSetUseCase(buttons-interactive-pressedafter, border,     white);


/// Theme: Interactive
///
/// @type Map
$buttons-themes__interactive: (
  normal: (
    color: colorsGetColorFor(buttons-interactive-normal, text),
    background-color: colorsGetColorFor(buttons-interactive-normal, background),
    border-color: colorsGetColorFor(buttons-interactive-normal, background),
  ),
  active: (
    color: colorsGetColorFor(buttons-interactive-normal, text),
    outline: none,
  ),
  hover: (
    color: colorsGetColorFor(buttons-interactive-normal, text),
    background-color: colorsGetColorFor(buttons-interactive-hover, background),
    border-color: colorsGetColorFor(buttons-interactive-hover, border),
  ),
  pressedselected: (
    color: colorsGetColorFor(buttons-interactive-pressedselected, text),
    background-color: colorsGetColorFor(buttons-interactive-pressedselected, background) !important,
    border-color: colorsGetColorFor(buttons-interactive-pressedselected, background),
  ),
  disabled: (
    color: colorsGetColorFor(buttons-interactive-normal, text),
    background-color: colorsGetColorFor(buttons-interactive-normal, background),
    border-color: colorsGetColorFor(buttons-interactive-normal, border),
  ),
  hoverbefore: (
    background-color: colorsGetColorFor(buttons-interactive-hoverbefore, background),
  ),
  hoverafter: (
    background-color: colorsGetColorFor(buttons-interactive-hoverafter, background),
  ),
  pressedafter: (
    border: solid colorsGetColorFor(buttons-interactive-pressedafter, border),
  )
) !default;


@include colorsSetUseCase(buttons-linking-normal,   text,       black);
@include colorsSetUseCase(buttons-linking-normal,   background, grey-tint11);
@include colorsSetUseCase(buttons-linking-normal,   border,     grey-tint11);
@include colorsSetUseCase(buttons-linking-active,   text,       black);
@include colorsSetUseCase(buttons-linking-active,   background, grey-tint11);
@include colorsSetUseCase(buttons-linking-active,   border,     grey-tint11);
@include colorsSetUseCase(buttons-linking-hover,   text,       black);
@include colorsSetUseCase(buttons-linking-hover,    background, grey-tint11);
@include colorsSetUseCase(buttons-linking-hover,    border,     grey-tint12);
@include colorsSetUseCase(buttons-linking-pressedselected, background, grey-tint10);
@include colorsSetUseCase(buttons-linking-pressedselected, border, grey-tint10);
@include colorsSetUseCase(buttons-linking-pressedselected, text, black);
@include colorsSetUseCase(buttons-linking-hoverbefore, background,     grey-tint11);
@include colorsSetUseCase(buttons-linking-hoverafter, background,    grey-tint10);
@include colorsSetUseCase(buttons-linking-pressedafter, border,     white);
@include colorsSetUseCase(buttons-linking-pressedafter-black, border,     black);

/// Theme: Linking
///
/// @type Map
$buttons-themes__linking: (
  normal: (
    color: colorsGetColorFor(buttons-linking-normal, text),
    background-color: colorsGetColorFor(buttons-linking-normal, background),
    border-color: colorsGetColorFor(buttons-linking-normal, border),
  ),
  active: (
    color: colorsGetColorFor(buttons-linking-active, text),
    background-color: colorsGetColorFor(buttons-linking-active, background),
    border-color: colorsGetColorFor(buttons-linking-active, border),
    outline: none,
  ),
  hover: (
    color: colorsGetColorFor(buttons-linking-hover, text),
    background-color: colorsGetColorFor(buttons-linking-hover, background),
    border-color: colorsGetColorFor(buttons-linking-hover, border),
  ),
  pressedselected: (
    color: colorsGetColorFor(buttons-linking-pressedselected, text),
    background-color: colorsGetColorFor(buttons-linking-pressedselected, background),
    border-color: colorsGetColorFor(buttons-linking-pressedselected, border),
  ),
  hoverbefore: (
    background-color: colorsGetColorFor(buttons-linking-hoverbefore, background),
  ),
  hoverafter: (
    background-color: colorsGetColorFor(buttons-linking-hoverafter, background),
  ),
  pressedafter: (
    border: solid colorsGetColorFor(buttons-linking-pressedafter, border),
  ),
  pressedafterblack: (
    border: solid colorsGetColorFor(buttons-linking-pressedafter-black, border),
  )
) !default;


@include colorsSetUseCase(buttons-profile-normal, background, white);
@include colorsSetUseCase(buttons-profile-normal, border, white);
@include colorsSetUseCase(buttons-profile-hoverbefore, background,     white);
@include colorsSetUseCase(buttons-profile-hoverafter, background,     grey-tint14);
@include colorsSetUseCase(buttons-profile-hover, background,     white);
@include colorsSetUseCase(buttons-profile-hover,    border,     black);
@include colorsSetUseCase(buttons-profile-pressedselected, background, grey-tint14);
@include colorsSetUseCase(buttons-profile-active,    background,     grey-tint14);

/// Theme: Button Internal See more Profile
///
/// @type Map
$buttons-themes__profile: (
  normal: (
    background-color: colorsGetColorFor(buttons-profile-normal, background),
    border: colorsGetColorFor(buttons-profile-normal, border),
  ),
  focus: (
    box-shadow: inset 0 0 0 1px rgba(colorsGetColorFor(buttons-transactional-hover, border), 0.5),
  ),
  hover: (
    background-color: colorsGetColorFor(buttons-profile-hover, background),
  ),
  pressedselected: (
    background-color: colorsGetColorFor(buttons-profile-pressedselected, background),
  ),
  active: (
    background-color: colorsGetColorFor(buttons-profile-active, background),
    outline: none,
  ),
  hoverbefore: (
    background-color: colorsGetColorFor(buttons-profile-hoverbefore, background),
  ),
  hoverafter: (
    background-color: colorsGetColorFor(buttons-profile-hoverafter, background),
  )
) !default;
