@include typographyAddFont('button-text-type', (
  type: (
    name: FuturaBT,
    weight: medium
  ),
));

@include typographyAddFont('button-text-small', (
  layout: (
    xs: (3),
    lg: (3.5),
  )
));

@include typographyAddFont('button-text-medium', (
  layout: (
    xs: (3.5),
    lg: (4),
  )
));

@include typographyAddFont('button-text-large', (
  layout: (
    xs: (4),
    lg: (4.5),
  )
));

@include typographyAddFont('button-text-fluid', (
  layout: (
    xs: (4),
    lg: (4.5),
  )
));

@include typographyAddFont('button-text-nav', (
  layout: (
    xs: (3.5),
    lg: (4),
  )
));