////
/// @group buttons
////

/// Silent mode: on (true) or off (false)
/// Set to false to output default button classes
///
/// @type Boolean
$buttons-is-silent: false !default;

/// Default button class used when $buttons-is-silent is true
///
/// @type String
$buttons-class: button !default;

/// Button sizes, with their attached properties
///
/// @type Map
$buttons-sizes: (
  small: (
    min-height: 22px,
    min-width: 20px,
    padding-top: 12px,
    padding-right: 6px,
    border-width: 0,
  ),
  medium: (
    min-height: 30px,
    min-width: 75px,
    padding-top: 14px,
    padding-right: 8px,
    border-width: 0,
  ),
  large: (
    min-height: 56px,
    min-width: 100px,
    padding-top: 16px,
    padding-right: 8px,
    border-width: 0,
    width: auto,
  ),
  nav: (
    min-height: 56px,
    min-width: 100px,
    padding-top: 4px,
    padding-right: 16px,
    border-width: 0,
    width: auto,
  ),
  fluid: (
    min-height: 56px,
    min-width: 100px,
    padding-top: 16px,
    padding-right: 8px,
    border-width: 0,
    width: 100%,
  ),
) !default;

/// Button animations, with their attached properties
///
/// @type Map
$button-animations: (
  hover-in: (
    direction: forwards,
    timing: 0.6s,
    easing: cubic-bezier(0.6,0.1,0.9,0.6),
  ),
  clicked-on: (
    timing: 0.3s,
    easing: ease-in,
  ),
  checkmark-pop: (
    timing: 0.2s,
    easing: linear,
  )
) !default;

/// Button themes, with their respective states
/// Each state is a Map of CSS properties, find
/// all theme definitions in _themes.scss
///
/// @type Map
$buttons-themes: (
  transactional: $buttons-themes__transactional,
  interactive: $buttons-themes__interactive,
  linking: $buttons-themes__linking,
  profile: $buttons-themes__profile
) !default;
