.skill-section {
	display: flex;
	align-items: center;
	flex-direction: row;
}

//Desktop and above
@media only screen and (min-width: $screen-lg-min) {
	.skill-section {
		flex-direction: column;
	}
}