// Mixin for brand image
@mixin set-brand-image-height($device) {
    $modifier-list: line1, line2, line2x;

    // line1 line2 line2x values for mobile, tablet and desktop respectively
    $modifier-values: 33px 63px 70px, 43px 83px 93px, 54px 102px 114px;
    $breakpoints: xs, md, lg;

    // get line1 line2 and line2x value for breakpoint passed as parameter
    $values: nth($modifier-values, index($breakpoints, $device));

    @for $index from 1 through length($modifier-list) {
        $modifier: nth($modifier-list, $index);

        .brand-image-#{$device}--#{$modifier} {
            height: nth($values, $index);
        }
    }
}
