.initiative {
	&-item {
	display: flex;
	overflow: hidden;
	padding: 10px 20px;
	margin: 50px 0;
	border: 1px solid #CCC;
	border-radius: 10px;
	flex-direction: column;
	clear: both;

		&__left-pane {
		    border-bottom: 1px solid #CCC;
		    border-right: 0;

		    &-date {
		    	font-size: 16px;
		    }

		    &-bids {
		    	font-size: 16px;
		    }
		}

		&__right-pane {
			display: flex;
		    justify-content: center;
		    align-items: center;
		    margin-top: 10px;
		}
	}

	&-bid__overlay {
	background-color: rgba(0,0,0,0.5);

		&-form {
			padding-top: spacingGetMagnitude(7.5);

			&-fields {
				clear: both;
			}
		}

		&-close {
		    float: right;
		    font-size: 1.5rem;
		    font-weight: 700;
		    line-height: 1;
		    color: #000;
		    text-shadow: 0 1px 0 #fff;
		    opacity: .5;
		    padding: 0;
		    background-color: transparent;
		    border: 0;
		    -webkit-appearance: none;
		    cursor: pointer;
		}

		&-body {
			overflow: hidden;
		}

		&-add {
			float: left;
			margin-right: spacingGetMagnitude(2);
		}

		.modal-dialog {
			max-width: 80%;
		}
	}
}

//Tablet and above
@media only screen and (min-width: $screen-md-min) {
	.initiative {

		&-item {
		flex-direction: row;

			&__left-pane {
		    	border-right: 1px solid #CCC;
		    	border-bottom: 0;
			}

			&__right-pane {
		    	margin-top: 0;
			}
		}
	}
}