@import "src/mixins";

.rotate-icon {
  opacity: 0;
  z-index: -1;

  .icon {
    transform: rotate(-22.5deg);
  }
}

.image--fallback {
  max-width: 100%;
}

.suppress-pricing {
  color: colorsGetPaletteColor(blue) !important; //sass-lint:disable-line no-important
}

input {
  &[type="checkbox"] {
    &:focus, &:active {
      & + label:before {
        outline: 5px auto colorsGetPaletteColor(light-blue);//Taking global anchor focus style
        outline-offset: -2px;//Taking global anchor focus style
      }
    }
  }
}

.clearfix {
  clear: both;
}

// Mobile only
@media only screen and (max-width: $screen-sm-max) {
    @include set-brand-image-height(xs);
}

// Tablet only
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include set-brand-image-height(md);
}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {
    @include set-brand-image-height(lg);
}
