@import "src/color-use-cases";
@import "src/variables";
@import "src/mixins";
@import "src/typography";

@import "fields/fields";
@import "fields/radio-checkbox";
@import "fields/prefix-suffix";
@import "fields/field-errors";
@import "fields/field-valid";
@import "fields/unskin";
@import "fields/wrapper";


// Mobile and above
.form {
  &-mandatory-field-info {
    @include typographySetFontSize('form-mandatory-field-info');
    color: colorsGetColorFor(form-mandatory-field-info, text);
    margin-bottom: spacingGetMagnitude(5);

    &--about-me {
      margin: spacingGetMagnitude(4) 0 0;
      padding: 0;
    }
  }
}

// Tablet and above
@media only screen and (min-width: $screen-md-min) {
  .form {
    &-mandatory-field-info {
      &--personal-details {
        padding: 0 gridGetColumnPadding(md, 12);
      }
    }
  }
}

// Desktop and above
@media only screen and (min-width: $screen-lg-min) {
  .form {
    &-mandatory-field-info {
      margin-bottom: spacingGetMagnitude(8);

      &--about-me {
        margin: spacingGetMagnitude(7) 0 0;
      }
    }
  }
}
