@include typographyAddFont('user-registration-heading', (
  type: (
    name: FuturaBT,
    weight: light
  ),
  layout: (
    xs: (7),
    md: (8),
    lg: (10)
  )
));

@include typographyAddFont('user-registration-argumentation-text', (
  type: (
    name: FuturaBT,
    weight: book
  ),
  layout: (
    xs: (5),
    md: (6),
    lg: (7)
  )
));

@include typographyAddFont('user-registered-machine-name', (
  type: (
    name: FuturaBT,
    weight: book
  ),
  layout: (
    xs: (5),
    md: (6),
    lg: (7)
  )
));

@include typographyAddFont('user-registered-machine-cta', (
  type: (
    name: FuturaBT,
    weight: book
  ),
  layout: (
    xs: (4),
    md: (5),
    lg: (6)
  )
));
