////
/// @group colors
////

/// Return the CSS color for a palette colour name
///
/// @param {String} $name
@function colorsGetPaletteColor($name) {
	@if (map-has-key($colors-palette, $name)) {
		@return map-get($colors-palette, $name);
	} @else {
		@warn "Color name '" + $name + "' is not defined in the palette";
		@return undefined;
	}
}

/// Return the defined palette colour name for a use case / property combination
///
/// @access private
///
/// @param {String} $usecase
/// @param {String} $property
@function _colorsGetUseCase($usecase, $property) {
	$props: map-get($colors-usecases, $usecase);
	@if ($props) {
		$color: map-get($props, $property);
		@if ($color == null and $property != 'all') {
			$color: map-get($props, all);
		}
		@if (map-has-key($props, '_deprecated')) {
			@warn "Color use case '" + $usecase + "' is deprecated (property '" + $property + "' was requested): " + map-get($props, '_deprecated');
		}
		@return $color;
	}
	@return null;
}

/// Return the CSS colour name of the first defined use case in a prioritised list for a use case / property combination
///
/// @example scss
/// .el { color: colorsGetColorFor(); }
///
/// @param {list} $namelist
/// @param {String} $property [all]
/// @param {map} $options [()] - (default: xxx) name of a palette colour to return if none of the specified use cases are defined for the desired property
@function colorsGetColorFor($namelist, $property: all, $options: ()) {
	$color: null;
	@each $name in $namelist {
		@if ($color == null) {
			$color: _colorsGetUseCase($name, $property);
		}
	}
	@if ($color == null) {
		@if (map-has-key($options, default)) {
			@if (map-get($options, default) == undefined or map-get($options, default) == null) {
				@return map-get($options, default);
			} @else {
				$color: map-get($options, default);
			}
		} @else {
			$warn: "Undefined use-case: can\'t resolve use case list '" + $namelist + "'";
			@if ($property) {
				$warn: $warn + " for property '" + $property + "'";
			}
			@warn $warn;
			$color: transparent;
		}
	}
	@return colorsGetPaletteColor($color);
}
