////
/// @group colors
////

/// Add a custom use case property
///
/// @example scss
///  @include colorsSetUseCase(email, text, grey-tint5);
///
/// @param {String} $usecase - Name of the use case
/// @param {String} $property - Property it applies to
/// @param {String} $color - One of $colors-palette
@mixin colorsSetUseCase($usecase, $property, $color) {
	$propmap: ($property: $color);
	@if (map-has-key($colors-usecases, $usecase)) {
		$propmap: map-merge(map-get($colors-usecases, $usecase), $propmap);
	}
	$newmap: ($usecase: $propmap);
	$colors-usecases: map-merge($colors-usecases, $newmap) !global;
}

/// Output property declarations for all defined properties for the specified use case
///
/// @example scss
///  .my-thing {
///  	@include colorsFor(custom-box box);
///  }
///  .my-other-thing {
///  	@include colorsFor(custom-box box, background border);
///  }
///
/// @param {String|list} $useCaseList
/// @param {String|list} $propertyList [all]
@mixin colorsFor($useCaseList, $propertyList: all) {
	@if ($propertyList == 'all' or index($propertyList, 'background')) {
		$col: colorsGetColorFor($useCaseList, background, (default: undefined));
		@if ($col != undefined) {
			background-color: $col;
		}
	}
	@if ($propertyList == 'all' or index($propertyList, 'text')) {
		$col: colorsGetColorFor($useCaseList, text, (default: undefined));
		@if ($col != undefined) {
			color: $col;
		}
	}
	@if ($propertyList == 'all' or index($propertyList, 'border')) {
		$col: colorsGetColorFor($useCaseList, border, (default: undefined));
		@if ($col != undefined) {
			border-color: colorsGetColorFor($useCaseList, border);
		}
	}
}
