////
/// @group colors
////

/// Colour palette
///
/// These are the colours that make up the Dyson palette.
/// We don't use these colours directly, but instead assign them to 'use cases',
/// which are defined in use-cases.scss.
///
/// In the list below, each line contains a colour name and a colour code,
/// and is finished with a comma:
///
///   <colour name>:   <colour code>,
///
/// The colour name must be a single word comprising just letters,
/// numbers, and dashes.
///
/// You can have as many spaces between the colour name and the colour code
/// as you like (so you can line them up neatly), and you *MUST* finish the
/// line with a comma
///
/// @type map
$colors-palette: (
  // Non-colour CSS values
  transparent:           transparent,
  inherit:               inherit,

  // Neutrals
  black:                  #000,
  white:                  #fff,

  // Grey tints
  grey-tint1:             #333,
  grey-tint2:             #666,
  grey-tint3:             #999,
  grey-tint4:             #f3f3f3,
  grey-tint5:             #242424,
  grey-tint6:             #2d2d2d,
  grey-tint7:             #404040,
  grey-tint8:             #424242,
  grey-tint9:             #ebebeb,
  grey-tint10:            #c9c9c9,
  grey-tint11:            #ececec,
  grey-tint12:            #dadada,
  grey-tint13:            #fbfbfb,
  grey-tint14:		  	  #f7f7f7,
  grey-tint15:		      #222,
  grey-tint16:            #dcdcdc,
  grey-tint17:            #373a3c,
  grey-accessibility:     #212121,

  // Primary colors
  yellow:                 #ffcc00,
  blue:                   #0066cc,
  light-blue:             #64affd,
  green:                  #79b928,
  mid-green:              #70ae21,
  dark-green:             #65a01b,
  green-tint2:            #7ab836,
  orange:                 #ff8a00,
  pink:                   #c4398d,
  red:					  #dd4157,
);
