////
/// @group colors
////

$colors-usecases: () !default;

/// Colour use cases
///
/// These mappings define what we use our colours for.
///
/// Use case:           Must be a single word comprising just letters, numbers, and dashes.
/// Properties:         A Sass map of properties (must be 'border', 'text', 'background', or 'all')
///                     against palette colours (must be an exact match for a name of a colour defined
///                     in palette.scss).
///
/// Special properties: You can use the following special properties to mark use cases:
///
///                     _deprecated: <msg>  Emits <msg> as a warning if referenced, but still works
///
/// @type map
$colors-usecases: map-merge((

//<use case>                <properties>

	page:                     (background: white, text: gray-tint1),
	box:                      (background: brown-tint1),
	modal:                    (background: black),
	link:                     (text: gray-tint1),
	link-hover:               (text: gray-tint2),
	title:                    (text: gray-tint1),
	body:                     (text: gray-tint1)

), $colors-usecases) !global;
