// sass-lint:disable no-important
@each $size in $spacer-list {

  // All
  %#{$spacer-margin-class}a-#{$size} {
    margin: spacingGetMagnitude($size, y) spacingGetMagnitude($size, x);
  }

  @each $breakpoint in map-keys($grid-breakpoints) {

    @include mediaAddTo($breakpoint) {

      // Top
      .#{$spacer-margin-class}t-#{$breakpoint}-#{$size} {
        margin-top: spacingGetMagnitude($size, y) !important;
      }

      // Bottom
      .#{$spacer-margin-class}b-#{$breakpoint}-#{$size} {
        margin-bottom: spacingGetMagnitude($size, y) !important;
      }

      // Right (currently not used)
      // .#{$spacer-margin-class}r-#{$breakpoint}-#{$size} {
      //   margin-right: spacingGetMagnitude($size, x);
      // }

      // Left (currently not used)
      // .#{$spacer-margin-class}l-#{$breakpoint}-#{$size} {
      //   margin-left: spacingGetMagnitude($size, x);
      // }

      // X-Axes (currently not used)
      // .#{$spacer-margin-class}x-#{$breakpoint}-#{$size} {
      //   margin-right: spacingGetMagnitude($size, x);
      //   margin-left: spacingGetMagnitude($size, x);
      // }

      // Y-Axes (currently not used)
      // .#{$spacer-margin-class}y-#{$breakpoint}-#{$size} {
      //   margin-top: spacingGetMagnitude($size, y);
      //   margin-bottom: spacingGetMagnitude($size, y);
      // }
    }
  }
}
