// sass-lint:disable no-important
@each $size in $spacer-list {

  // a = All sides
  %#{$spacer-padding-class}a-#{$size} {
    padding: spacingGetMagnitude($size, y) spacingGetMagnitude($size, x);
  }

  @each $breakpoint in map-keys($grid-breakpoints) {

    @include mediaAddTo($breakpoint) {

      // Top
      .#{$spacer-padding-class}t-#{$breakpoint}-#{$size} {
        padding-top: spacingGetMagnitude($size, y) !important;
      }

      // Bottom
      .#{$spacer-padding-class}b-#{$breakpoint}-#{$size} {
        padding-bottom: spacingGetMagnitude($size, y) !important;
      }

      // Right (currently not used)
      // .#{$spacer-padding-class}r-#{$breakpoint}-#{$size} {
      //   padding-right: spacingGetMagnitude($size, x);
      // }

      // Left (currently not used)
      // .#{$spacer-padding-class}l-#{$breakpoint}-#{$size} {
      //   padding-left: spacingGetMagnitude($size, x);
      // }

      // X-Axes (currently not used)
      // .#{$spacer-padding-class}x-#{$breakpoint}-#{$size} {
      //   padding-right: spacingGetMagnitude($size, x);
      //   padding-left: spacingGetMagnitude($size, x);
      // }

      // Y-Axes (currently not used)
      // .#{$spacer-padding-class}y-#{$breakpoint}-#{$size} {
      //   padding-top: spacingGetMagnitude($size, y);
      //   padding-bottom: spacingGetMagnitude($size, y);
      // }
    }
  }
}
