// sass-lint:disable no-important

@each $level, $levels in $spacer-verticals {
  $position-top: map-get($levels, top);
  $position-bottom: map-get($levels, bottom);
  $translateY: map-get($levels, translateY);

  @each $breakpoint in map-keys($grid-breakpoints) {

    @include mediaAddTo($breakpoint) {

      // Top
      @if ($position-top) {
        .#{$spacer-vertical-class}t-#{$breakpoint}-#{$level} {
          position: absolute;
          top: #{$position-top} !important;
          left: 0;
          right: 0;

          @if ($translateY) {
            transform: translateY(calc(-1 * #{$translateY})) !important;
          }
        }
      }

      // Bottom
      @if ($position-bottom) {
        .#{$spacer-vertical-class}b-#{$breakpoint}-#{$level} {
          position: absolute;
          bottom: #{$position-bottom} !important;
          left: 0;
          right: 0;

          @if ($translateY) {
            transform: translateY(calc(-1 * #{$translateY})) !important;
          }
        }
      }
    }
  }
}
