@import './src/appearance';
@import './src/variables';
@import './src/functions';
@import './src/mixins';

@if ($shapes-is-silent == false) {

  @each $size, $properties in $shapes-sizes {
    .#{$shapes-class}--#{$size} {
      @include shapesSize($size);
    }
  }

  @each $appearance, $properties in $shapes-appearances {
    .#{$shapes-class}--#{$appearance} {
      @include shapesAppearance($appearance);
    }
  }

  $shapes-is-silent: true !global;
}
