@import "./src/mixins";
@import "./lib/container";
@import "./lib/row";
@import "./lib/column";

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	@include containerCenter();
  width: 100%;
  min-width: $xs-container-width;

  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
}

.cq-dd-image {
  width: 100%;
}
